@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About Equi</h1>
    <h3>
        An industry 4.0 project, build by the costumer for the costumer.
    </h3>
</div>

<div class="card">
    <div class="card-header bg-dark text-white">
        <h3 class="card-text">First things first</h3>
    </div>
    <div class="card-body">
        <div>
            <div class="alert alert-warning">
                <h2>Please use a modern browser!</h2>
            </div>
            Any modern browser will do Edge / Chrome / Firefox / Opera  <strong>*Just not Internet explorer.</strong>
            <br />
            <h3>We work best with Chrome</h3>
            <div>
                @MyHtmlHelpers.EquiLink("https://www.google.com/chrome/browser/desktop/index.html", "fab fa-chrome", "Chromeinstal", helperText: "Use this link to install chrome.")
            </div>

        </div>
    </div>
</div>

<hr />

@Html.Action("_getWiki", "Wiki", new { id = "WhatisEqui" })

<hr />

@Html.Action("_getWiki", "Wiki", new { id = "DataSources" })

<hr />

@Html.Action("_getWiki", "Wiki", new { id = "how you look at data" })

<hr />

@Html.Action("_getWiki", "Wiki", new { id = "ASSET MANAGMENT SYSTEM" })

<hr />