@{
    /**/

    ViewBag.Title = "Contact";
}
<div class="">
    <h1>@ViewBag.Title</h1>
</div>

@if (System.Configuration.ConfigurationManager.AppSettings["Maximo_SiteID"].ToString() == "VCCH")
{
<div class="card card-body">

    <h3>Volvo Cars Charleston (VCCH)</h3>
    <hr />
    <strong>Site manager</strong>
    <address>
        Olson, Troy<br />
        <i class="fas fa-phone"></i>
        +18439348395
        <i class="fas fa-envelope"></i> <a href="mailto:troy.olson@volvocars.com">troy.olson@volvocars.com</a><br />
    </address>
    <strong>Site administrator</strong>
    <address>
        Kleeman, Darro<br />
        <i class="fas fa-phone"></i>
        +18439343705
        <i class="fas fa-envelope"></i> <a href="mailto:darro.kleeman@volvocars.com">darro.kleeman@volvocars.com</a><br />
    </address>
</div>

    <hr />
}

<div class="card card-body">

    <h3>Volvo Cars Gent (VCG)</h3>
    <hr />
    <strong>Site manager</strong>
    <address>
        Van volsem II, Alain (AVV)<br />
        <i class="fas fa-phone"></i>
        +32-9-2502725
        <i class="fas fa-envelope"></i> <a href="mailto:alain.van.volsem.ii@volvocars.com">alain.van.volsem.ii@volvocars.com</a><br />
    </address>

    <strong>System developer</strong>
    <address>
        De beul, Sam (S.)<br />
        <i class="fas fa-phone"></i>
        +329 250 30 69
        <i class="fas fa-envelope"></i> <a href="mailto:sam.de.beul@volvocars.com">sam.de.beul@volvocars.com</a><br />
    </address>

    <address>
        Coppejans, Jens (J.)<br />
        <i class="fas fa-phone"></i>
        +3292507242
        <i class="fas fa-envelope"></i> <a href="mailto:jens.coppejans@volvocars.com">jens.coppejans@volvocars.com</a><br />
    </address>
</div>

<hr />

<div class="card card-body">
    <h3>Manufacturing Software Consultancy (MSC)</h3>
    <hr />
    <strong>System developer</strong>
    <address>
        Graham Morris<br />
        <i class="fas fa-phone"></i>
        +44 7802 705287
        <i class="fas fa-envelope"></i> <a href="mailto:graham.morris@manusoft.co.uk">graham.morris@manusoft.co.uk</a><br />
    </address>
</div>

<hr />
@MyHtmlHelpers.EquiLink("https://sharepoint.volvocars.net/sites/maintenance_a_shop/Lists/EQdbDevelopment/AllItems.aspx", "fas fa-bug", "IssueTracking", iconClasses: "bg-warning", helperText: "Report bugs or request features", OpenNewWindow: true)

<hr />
@MyHtmlHelpers.EquiLink("https://github.com/SDEBEUL/EQUI/graphs/commit-activity", "fab fa-github", "Github", helperText: "No secrets, every line of code is on github", OpenNewWindow: true)
<hr />

<div class="card card-body">
    <h3>About this site</h3>
    <hr />
    IIS host <strong>@ViewBag.hostname</strong>
    SQL host <strong>@ViewBag.sqlserver</strong>
    <div>
        Direct Sql access via AD group:<br />
        [VCCNET\6308-APP-EQUI-DATA-RW-USER] Read only access<br />
        [VCCNET\6308-APP-EQUI-DATA-R-USER] Read and write access<br />
        <a href="https://volvocars.service-now.com/sp?id=sc_cat_item&sys_id=a67443d22b52e100e587593069da15c7">Add member AD group (SNOW)</a>
    </div>
    <hr />
    <div>VCG server access: VCCNET\6308-APP-SERVERACCESS-GENSVW1178-ADMIN</div>
    <div>VCCH server access: VCCNET\1020-SERVERAPP-ACCESS-TIPWEAR-PREDICTION-ADMIN</div>
</div>

<hr />
<div class="card card-body">
    <h3>Equi instances around the world</h3>
    <hr />
    <div class="row">
        <div class="col-6">
            @MyHtmlHelpers.EquiLink("https://gensvw1178.gen.volvocars.net", "fas fa-flag", "VCG (production)", helperText: "Volvo cars Ghent")
        </div>
        <div class="col-6">
            @MyHtmlHelpers.EquiLink("http://gensvw1178.gen.volvocars.net:666", "fas fa-flag", "VCG (development)", helperText: "Volvo cars Ghent")
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @MyHtmlHelpers.EquiLink("https://chasvw1203.cha.volvocars.net", "fas fa-flag", "VCCH (production)", helperText: "Volvo cars Charleston")
        </div>
        <div class="col-6">
            @MyHtmlHelpers.EquiLink("http://chasvw1203.cha.volvocars.net:666", "fas fa-flag", "VCCH (development)", helperText: "Volvo cars Charleston")
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @MyHtmlHelpers.EquiLink("http://gotsvw11292.got.volvocars.net", "fas fa-flag", "VCT (inactive)", helperText: "Volvo cars Torslanda")
        </div>
        <div class="col-6">
          
        </div>
    </div>


</div>
