@{
    ViewBag.Title = @System.Configuration.ConfigurationManager.AppSettings["SiteName"].ToString();
}
<div class="">
    <h1>WELCOME IN @ViewBag.Title</h1>
</div>

<div class="card d-none">
    <div class="card-header ani_PulseRed">
        <h5 class="card-title text-dark">
            URGENT MESSAGE!
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body ani_PulseBlueOnce">
        <h1>Title.</h1>
        Message
    </div>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            @EqUiWebUi.defaultArea.SupervisionHeader
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        @MyHtmlHelpers.EquiLink("/Supervision/Table/PloegRapport", "far fa-list-alt", EqUiWebUi.defaultArea.ShiftReport, helperText: EqUiWebUi.defaultArea.ShiftReportDescription)
        @MyHtmlHelpers.EquiLink("/Supervision/Table/Supervisie", "far fa-list-alt", EqUiWebUi.defaultArea.Supervision, helperText: EqUiWebUi.defaultArea.SupervisionDescription)
        @MyHtmlHelpers.EquiLink("/Alert/Alert/Listalerts", "fas fa-bell", EqUiWebUi.defaultArea.Alerts, helperText: EqUiWebUi.defaultArea.AlertsDescription, iconClasses: "bg-warning")
        @MyHtmlHelpers.EquiLink("https://volvocars.plantview.se/?v=ps&t=p:default,c:projectselector,m:t&ps=ps1&ps1=q:" + System.Configuration.ConfigurationManager.AppSettings["Maximo_SiteID"].ToString(), "fas fa-industry", "Plantview", helperText: "3d scans of all volvo plants")
        @if (EqUiWebUi.MyBooleanExtensions.IsAreaEnabled("Maximo_ui"))
        {
            @MyHtmlHelpers.EquiLink("/Maximo_ui/Workorder/Workorders", "fas fa-briefcase", "Maximo_ui", helperText: "Fast and simple Maximo interface")
        }
        @if (System.Configuration.ConfigurationManager.AppSettings["Maximo_SiteID"].ToString() == "VCG")
        {
            @MyHtmlHelpers.EquiLink("/Tableau/index", "fas fa-chart-line", "Tableau", helperText: "Dashboards done right")
        }
        @MyHtmlHelpers.EquiLink("/Tiplife/Electrode/CurrentTipstatus", "fas fa-industry", "Electrode", helperText: "Everything about electrodes")
    </div>
</div>

<p></p>
@*gent only section*@
@if (System.Configuration.ConfigurationManager.AppSettings["Maximo_SiteID"].ToString() == "VCG")
{
    <div class="card">
        <div class="card-header bg-dark">
            <h5 class="card-title text-white">
                Ghent only tools
                <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
            </h5>
        </div>
        <div class="card-body">
            @MyHtmlHelpers.EquiLink("http://gensvw2107.gen.volvocars.net/CMACTAPP/", "fas fa-stopwatch", "cmaCTapp", helperText: "Tool van IE om Cycle times te bekijken")
            @MyHtmlHelpers.EquiLink("/PlcSupervisie/Screenshot/Screenshots", "far fa-object-group", "Supervisie", helperText: "Plc Supervisie GA")
            @MyHtmlHelpers.EquiLink("/Home/Rendersite?url=" + @Uri.EscapeDataString("http://webapps.gen.volvocars.net/applications/eng/equipment/supervisiep1/intranet"), "far fa-object-group", "Supervisie (brownfield)", helperText: "Sattline supervisie schermen")
          
        </div>
    </div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            AASPOT
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        @MyHtmlHelpers.EquiLink("/Welding/Welding/index", "fas fa-bolt", "AASPOT homepage", helperText: "Nieuwe website voor AASPOT (jens)")
        @MyHtmlHelpers.EquiLink("/PJV/pjv/index", "fas fa-vial", "PJV", helperText: "Track changed and modifications on robot process points")
        @MyHtmlHelpers.EquiLink("/VASC/Breakdown/GetJobs?PromptBodynum=true", "fas fa-vial", "Track cars by bodynum", helperText: "weldbolt line only", OpenNewWindow: true, helpurl: @Url.Action("_Getwiki", "Wiki", new { area = "", id = "BodyTrack" }, null))
    </div>
</div>

<p></p>
}
