@{
    ViewBag.Title = "Settings";
}

<p></p>

@Html.Action("_settings", "EQUISetup", new { area = "" })

<p></p>

@Html.Action("_settings", "job", new { area = "HangfireArea" })

<p></p>

@Html.Action("_settings", "Users", new { area = "user_management" })

<p></p>

@Html.Action("_settings", "UserScreens", new { area = "user_management" })

<p></p>

@Html.Action("_settings", "alert", new { area = "alert" })

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Tools (VCG)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p><a href="http://gensvw1051:5601/app/kibana#/discover?_g=()" class="btn btn-danger btn-sm">Kibana (VIDS) &raquo;</a>Elastic search tool to search the VIDS database</p>
        <p><a href="http://andonscreendumps.gen.volvocars.net/" class="btn btn-danger btn-sm">Screendumps (ANDON) &raquo;</a>All andon screen dumps (non x20)</p>
        <p><a href="http://gensvw1162/XManagerWeb/" class="btn btn-danger btn-sm">Screendumps (ANDON) &raquo;</a>All andon screen dumps (x20) user:reader pwd:Reader1</p>
    </div>
</div>
