@model EqUiWebUi.Areas.user_management.Models.c_ownership

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>c_ownership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Optgroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Optgroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ownership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ownership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationTree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationTree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
