@model IEnumerable<EqUiWebUi.Areas.user_management.Models.c_ownership>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Named("c_ownership").Build(columns =>
    {
        columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc).Css("XXd-none XXd-md-block");;
        columns.Add(c => c.Plant).Titled("Plant").Css("XXd-none XXd-md-block");;
        columns.Add(c => c.Optgroup).Titled("Optgroup").Css("XXd-none XXd-md-block");;
        columns.Add(c => c.Ownership).Titled("Ownership");
        columns.Add(c => c.LocationTree).Titled("LocationTree");
        columns.Add(c => c.UserComment).Titled("UserComment").Css("XXd-none XXd-md-block");;
        columns.Add(c => c.id)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id }) + " | " +
                                     @Html.ActionLink("Details", "Details", new { id = c.id }) + " | " +
                                     @Html.ActionLink("Delete", "Delete", new { id = c.id })

                    ).InitialSort(GridSortOrder.Asc).Filterable(false).Css("XXd-none XXd-md-block");;
    }).Filterable(true).Sortable(true).Pageable(pager =>
    {
        pager.RowsPerPage = 15;
    }).Empty("Did not find anything").Css("table-hover")
<hr />
<div class="alert alert-success">
    <div>
        <h4>OwnershipDropdownlist</h4>
        @Html.DropDownList("testdropdownlist", (SelectList)ViewBag.selectlist, htmlAttributes: new { @class = "form-control" }, optionLabel: "--Select--")
    </div>
</div>
<hr />
<div class="alert alert-info">
    <h4>This config is apply once every week by hangfire.</h4>
    <p>Job: AssetsMx-gadata moves the data from maximo to gadata </p>
    <p>Then [EqUi].[sp_LinkAssets] is invoked. The join for ownership happens here.</p>
    <p><a href="~/user_management/c_ownership/LinkMaximoAssetsToGadata" class="btn btn-danger btn-sm JQresultTriggerBtn">Trigger it now &raquo;</a>(click once and wait!)</p>
</div>

