@model EqUiWebUi.Models.c_logClassSystem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>c_logClassSystem</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SelectStatement)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SelectStatement)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateStatement)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateStatement)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RunRuleStatement)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RunRuleStatement)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.c_datasource.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.c_datasource.Name)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
