<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VCG GA UB12</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2 min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    @*changed navbar color for bg-dark to bg-succes to show that it is a complete differnt layout*@
    <nav class="navbar navbar-expand-md py-0 bg-success navbar-dark fixed-top" id="navbar">
        <!-- Brand -->
        <a class="navbar-brand py-0" href='@Url.Action("Index", "Welding", new { area = "Welding" }, null)'>
            <img src="~/Content/images/volvo-50.png" />
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapse part -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- Navbar links -->
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggl" href="#" id="navbardrop" data-toggle="dropdown">
                        Shortcuts AASPOT
                    </a>
                    <ul class="dropdown-menu">


                </li>
                <li class="dropdown-divider"></li>


                </li>
            </ul>
            </li>

            <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    VSTO toolkit
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=SBCUstats">WeldgunData</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=sleepBlock">Block autologoff</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="https://sway.com/csCS9cdjEpcpPhw0?ref=Link">VSTO Excel Manual</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="https://sharepoint.volvocars.net/sites/vcg_ga_aaosr/SitePages/EQDB.aspx">VSTO Excel plugin</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="https://sway.com/5uelU8Pra3GK1N9i">Tableau Manual</a>
                    </li>
                </ul>
            </li>

            </ul>

            <!-- pull right part -->
            <div class="navbar-nav ml-auto">
                <div class=" nav-item">
                    <a class="far fa-id-badge fa-2x text-white fa-2x userhelp" data-container="body" data-toggle="popover" data-original-title="@User.Identity.Name"></a>

                    <a href="#"><span style="padding-left:20px" class=""></span></a>

                    <a class="fas fa-cog fa-1x text-danger" href='@Url.Action("Settings", "Home", new { area = "" }, null)' data-toggle="tooltip" title="admin area"></a>

                    <a class="fas fa-arrows-alt text-white" id="fullscreenNav" data-toggle="tooltip" data-placement="left" title="Go fullscreen"></a>

                </div>
            </div>

        </div>

    </nav>

    @*load this bundle before body because of scripts in views*@
    @Scripts.Render("~/bundles/mainjavabundel")

    <!--Body content -->
    <div class="container body-content" id="allcontent">
        @RenderBody()
    </div>
    <!--footer-->
    <hr />
    <footer id="footer">
        <p>&copy; @DateTime.Now.Year - VCG GA Application Coppejans Jens</p>
    </footer>
    @*when navbar is hidden this is visble*@
    <div class="pull-right">
        <a class="fas fa-arrows-alt text-black-50 d-none" id="fullscreenBody" data-toggle="tooltip" data-placement="left" title="Exit fullscreen"></a>
    </div>


    @Scripts.Render("~/bundles/MyScripts")
    <script>
        //enable general interface stuff
        initInterface();
    </script>

    @*start render script sections in vieuws*@
    @RenderSection("scripts", required: false)
    @RenderSection("partials", required: false)
 

    </body>
</html>

