@{
    ViewBag.Title = "VCG GA ARO Homepage";
   
}
<div class="jumbotron">
    <h1>WELCOME in het Welding Team</h1>
</div>

<div class="card" style="background-color:#efeaea">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Home Page WeldingTeam
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        @*voorbeeld externe link*@
        @{
            string urlIntranetSupervis = @Uri.EscapeDataString("Z:\\OBJECTBEHEER GA\\Spot Welding\\Rapportering\\Teambord\\electronisch teambord uitgebreid\\index.html");
            <p>
                <a href="~/Home/Rendersite?url=@urlIntranetSupervis" class="btn btn-primary btn-sm">Supervisie Intranet P1 &raquo;</a>
                Supervisie (intranet)
            </p>
        }
        @*voorbeeld interne link*@
        <p>
            <a href="~/Alert/Alert/AASPOTIndex" class="btn btn-primary btn-sm">Alerts &raquo;</a>
            Waarschuwingen gebaseerd op triggers
        </p>
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            ARO Technicians
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/ARO/Index", "fab fa-qq", "ARO Technician", helperText: "startpagina van het ARO team")
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            WeldingMasters
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/WM/Index", "fab fa-qq", "Welding Masters", helperText: "startpagina van de weldingMasters")
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Qteam
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/Qteam/Index", "fab fa-qq", "Qteam", helperText: "startpagina van het Qteam")
    </div>
</div>


<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            TeardownTeam
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/TeardownTeam/Index", "fab fa-qq", "TeardownTeam", helperText: "startpagina van het TeardownTeam")
    </div>
</div>


<p></p>

@*This card is default collapsed see fa-rotate-180 and display:none*@
<div class="card">
    <div class="card-header bg-danger">
        <h5 class="card-title text-white">
            Beta
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body" style="display:none">

        <p>
            <a href="~/PJV/pjv/index" class="btn btn-primary btn-sm">PJV&raquo;</a>(test)
            Test met pjv UI
        </p>

    </div>
</div>

<p></p>
}