@{
    ViewBag.Title = "VCG GA ARO Homepage";
   
}
<div class="jumbotron">
    <center><h1>Welcome in Team81 - welding group</h1></center>
</div>

<div class="card" style="background-color:#efeaea">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            WeldingTeam general
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <p>
            <a href="~/Welding/Welding/_alertsAASPOT" class="btn btn-primary btn-sm">Welding Alerts</a>
            WeldingTeam Supervision Alerts
        </p>
        <p>
            <a href="~/Welding/Welding/ppmreweld" class="btn btn-primary btn-sm">kpi tableau</a>
            kpi rewelds process stability
        </p>


    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            ARO Technicians
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/ARO/Index", "fas fa-industry", "ARO Technician", helperText: "startpagina van het ARO team")
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            WeldingMasters
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/WM/Index", "fas fa-user-circle", "Welding Masters", helperText: "startpagina van de weldingMasters")
    </div>
</div>
<p></p>
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Qteam
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/Qteam/Index", "fab fa-quora", "Qteam", helperText: "startpagina van het Qteam")
    </div>
</div>


<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            TeardownTeam
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">

        <p>
            @MyHtmlHelpers.EquiLink("/Welding/TeardownTeam/Index", "fab fa-tumblr", "TeardownTeam", helperText: "startpagina van het TeardownTeam")
    </div>
</div>


<p></p>

@*This card is default collapsed see fa-rotate-180 and display:none*@
<div class="card">
    <div class="card-header bg-danger">
        <h5 class="card-title text-white">
            Rapport and Config
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body" style="display:none">

        <p>
            <a href="~/PJV/pjv/index" class="btn btn-primary btn-sm">Rapport&raquo;</a>
            PJV
        <p>
            <a href="~/Welding/Welding/_AlertsUserRapport" class="btn btn-primary btn-sm">alerts Rapport&raquo;</a>
            AlertsUser Rapport
        </p>

        @MyHtmlHelpers.EquiLink("/Ultralog/ControlPlan/ListControlPlans", "far fa-file-alt", "List control plans", helperText: "Test with control plans")

    </div>
</div>

<p></p>
