@{
    ViewBag.Title = @TempData["error"];
}
<div class="card">
    <h4>@TempData["error"]</h4>
    <div class="card-body" id="Error">
        <div class="card-body">
            <div class="alert alert-warning">
                <div class="alert-heading">
                    <h5>
                        Exception
                        <span><small>(Controller: <strong>@Model.ControllerName</strong>  Action: <strong>@Model.ActionName)</strong></span></small>
                    </h5>          
                </div>
                <div>
                    Description:  @Model.Exception.Message.ToString()
                </div>
                <hr />
                InnerException:
                <small>
                    @Model.Exception.InnerException.Message.ToString()
                </small>
            </div>

            <div class="card">
                <div class="card-header bg-info">
                    <h6 class="card-title text-white">
                        StackTrace
                        <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
                    </h6>
                </div>
                <div class="card-body" style="display:none">
                    <small>
                        @Model.Exception.StackTrace.ToString()
                    </small>
                </div>
            </div>

        </div>
    </div>
    <p>
        <button class="btn btn-primary btn-danger" onclick="window.history.back()" type="button"><<< Back</button>
    </p>
</div>
<p></p>


<script>
    //reload after 1 min
    setTimeout(
        function () {
            console.log('try reload page');
            window.history.back();
        }, 1000 * 60);
</script>