@{
    ViewBag.Title = @TempData["error"];
}
    <div class="jumbotron">
        <h1>@TempData["error"]</h1>
    </div>

    <p></p>

    <div class="card" id="Error">
        <h4>ERROR</h4>
        <div class="card-body">
            <p>
                <h4> Error Description:</h4>

                <div class="alert alert-warning">
                    @Model.Exception.Message.ToString() @Html.Raw(" ") @Model.ControllerName @Html.Raw(" ") @Model.ActionName
                </div>
            </p>

            <p>
                <button class="btn btn-primary btn-danger" onclick="window.history.back()" type="button"><<< Back</button>
            </p>
        </div>
    </div>

    <p></p>


<script>
    //reload after 1 min
    setTimeout(
        function () {
            console.log('try reload page');
            window.history.back();
        }, 1000*60);
</script>