@{
    ViewBag.Title = @TempData["error"];
}
    <div class="jumbotron">
        <h1>@TempData["error"]</h1>
    </div>

    <p></p>

    <div class="card">
        <h4>ERROR</h4>
        <div class="card-body">
            <p>
                <h4> Error Description:</h4>

                <div class="alert alert-warning">
                    @Model.Exception.Message.ToString() @Html.Raw(" ") @Model.ControllerName @Html.Raw(" ") @Model.ActionName
                </div>
            </p>

            <p>
                <button class="btn btn-primary btn-danger" onclick="goback()" type="button"><<< Back</button>
            </p>
        </div>
    </div>

    <p></p>


<script>
    function goback() {
        window.history.back()
    }
</script>