@model EqUiWebUi.Areas.Alert.Models.c_SMSconfig

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>c_SMSconfig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.c_CPT600.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_CPT600.Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_smsSystem.system)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_smsSystem.system)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
