@model IEnumerable<EqUiWebUi.Models.TipMonitor>

@*set title*@
@{
    ViewBag.Title = "CurrentTipstatus";
}
@*html*@
<div>
    <p></p>
    <p></p>
    <div class="panel panel-default">

        <div class="panel-body">
            @Html.Grid(Model).Named("NgacTipStatus").Build(columns =>
       {
       columns.Add(c => c.Robot).Titled("Robot").Filterable(true);
       columns.Add(c => c.Date_Time).Titled("Laaste keer gefreest").Formatted("{0:dd-MM-yyyy HH:mm}");
       columns.Add(c => c.nDress).Titled("Aantal keer gefreest");
       columns.Add(c => c.WearRatio).Titled("%WearRatio");
       columns.Add(c => c.pWear).Titled("%wear").Filterable(true).Css("bolded");
       columns.Add(c => c.nRspots).Titled("Resterende Spots");
       columns.Add(c => c.nRcars).Titled("Resterende Stukken");
       columns.Add(c => c.TipAge_h_).Titled("Electrode leeftijd (h)");
       columns.Add(c => c.Time_DressCycleTime).Titled("Dress ct (s)");
       columns.Add(c => c.LocationTree).Filterable(true).Css("hidden"); //used for filtering
       //launch sbcu tool
       columns.Add()
                             .Encoded(false)
                             .Filterable(false)
                             .Sortable(false)
                             .RenderedAs(c => MyEquiToolkit.SbcuTool(c.Robot, "1")); //need to add the toolnumber in die model
            }).Sortable().Pageable(pager =>
       {
                pager.RowsPerPage = @ViewBag.RowsPerPage;
            }).Empty("No data found").Css("table-hover")
        </div>

        <div class="panel-footer">
            @MyFilters.LocationDropdownGreenField("NgacTipStatus", "/NgacElectrode/CurrentTipstatus")
            <p style="float:right"> Last data push: '@Html.Raw(ViewBag.DataTimestamp)'</p>
        </div>
    </div>
</div>

@*scrip for blinking a row based on there value.*@
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            setInterval(flashRow, 750);
        });
        var bFlip = new Boolean(false);
        function flashRow() {
            bFlip = !bFlip;
            $('tbody > tr').each(function (index) {
                @*blink for slowspeed*@
                if ($(this).children('td:nth-child(5)').text() > 50) {
                    if (bFlip) {
                        $(this).children('td').css("background-color", "#f21a1a");
                    } else {
                        $(this).children('td').css("background-color", "#ffffff");
                    }
                }
            });
        }
    });
</script>

@*scrip for playing sound based on row value.*@
@*http://soundbible.com/grab.php?id=1252&type=mp3*@
@*http://soundbible.com/grab.php?id=1377&type=mp3*@
<script type="text/javascript">
    $(document).ready(function () {
        var bNeedToPlay = new Boolean(false);
        var sound = new Audio(src = "http://soundbible.com/grab.php?id=1377&type=mp3");

        $(function () {
            setInterval(CheckSound, 1000 * 60);
            CheckSound();
        });

        function CheckSound() {
            bNeedToPlay = false;
            $('#gridMapping > tbody > tr').each(function (index) {
                if ($(this).children('td:nth-child(5)').text() > 30) {
                    bNeedToPlay = true;
                }
            });
            if (bNeedToPlay) {
                console.log("playing sound");
                sound.play();
            }
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //enable polling for new data
        PolFordata(5, '@Html.Raw(ViewBag.DataTimestamp)', '@Url.Action("TipwearCheckNewData")');
    });
</script>