<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://public.tableau.com/javascripts/api/tableau-2.0.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <script>
        /**
         * Instantiate our vizualization.
         */
        $(function () {
            bTrustedAuth = @ViewBag.TrustedAuth.ToString().ToLower();
            if (bTrustedAuth)
            {
                //http://tabserver/trusted/<ticket>/t/Sales/views/<workbook>/<view>
                var url = 'https://tableau-test.volvocars.biz/trusted/'.concat('@ViewBag.Ticket').concat('/t/Ghent/views/').concat('@ViewBag.workbook').concat('/').concat('@ViewBag.sheet');
                console.log('ticket: ' + '@ViewBag.Ticket');
            }
            else
            {
                var url = 'https://tableau-test.volvocars.biz/t/Ghent/views/'.concat('@ViewBag.workbook').concat('/').concat('@ViewBag.sheet');
            }


            var size = findDashboardSize();
            var vizOptions = {
                embed: true,
                hideTabs: false,
                hideToolbar: false,
                showShareOptions: false,
                showAppBanner: false,
                width: size.width + "px",
                height: size.height + "px",
                onFirstInteractive: function (e) {
                    $('.viz iframe').attr("scrolling", "no");
                    $('.viz iframe').css('overflow', 'hidden');
                }
            };

            new tableauSoftware.Viz(document.getElementById('viz'), url, vizOptions)
        });

        /**
         * Finds the correct size of the dashboard in this screen.
        https://en.wikipedia.org/wiki/Display_resolution#/media/File:Vector_Video_Standards8.svg
         */
        function findDashboardSize() {
            var minHeight = 2160;
            var maxHeight = 2160;
            var minWidth = 2560;

            // The minus 100px leaves us room for the header/footer. Adjust as needed.
            var height = window.innerHeight - 130;

            if (height < minHeight) {
                height = minHeight;
            }
            if (height > maxHeight) {
                height = maxHeight;
            }

            // var width = Math.round(height / (minHeight / minWidth));
            var width = window.innerWidth - 20;
            if (width < minWidth) {
                width = minWidth;
            }

            console.log("Resize: Body:", window.innerHeight, "x", window.innerWidth, " viz:", height, " x", width);

            return {
                'width': width,
                'height': height
            }
        }

        /**
         * Resizes our viz.
         */
        function resize() {
            var size = findDashboardSize();
            $('#viz').width(size.width);
            $('#viz').height(size.height);
            $('#viz iframe').attr("scrolling", "no");
            $('#viz iframe').css('overflow', 'hidden');
            $('#viz iframe').width(size.width);
            $('#viz iframe').height(size.height + 20);
        }

        /**
         * Hook into the window resize event to resize when the user resizes the screen.
         */
        $(window).resize(resize);

        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");


    </script>
</head>
<body>
    @*render the viz*@
    <p></p>
    <p></p>
    <div id="viz"></div>
</body>
</html>





