@model EqUiWebUi.Models.Wiki

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Wiki</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Culture)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Culture)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.wiki1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.wiki1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.searchtags)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.searchtags)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
