

    <div class="card-header">

        <div class="alert alert-info">
            <h4>
                Tipinfo for location: <strong>@ViewBag.location</strong> tool_nr:  <strong>@ViewBag.tool_nr</strong>
                <a class="far fa-window-close fa-2x clickable text-black-50 float-right" data-dismiss="modal"></a>
            </h4>
        </div>
    </div>

    <div class="card-body">

        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="card-title text-white">TipLifeExpectations</h4>
            </div>

            <div class="card-body">
                <div data-name="TipLifeExpectationsGrid" class="mvc-grid"></div>
            </div>

        </div>

        <hr />

        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="card-title text-white">TipwearBeforeChange</h4>
            </div>

            <div class="card-body">
                <div data-name="TipwearBeforeChangeGrid" class="mvc-grid"></div>
            </div>

        </div>

        <hr />

        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="card-title text-white">Control limits</h4>
            </div>

            <div class="card-body">
                <div id="controllimitPlaceholder"></div>
            </div>

        </div>

        <hr />

        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="card-title text-white">TipDresslogfile</h4>
            </div>

            <div class="card-body">
                <div data-name="TipDressDataGrid" class="mvc-grid"></div>
            </div>

        </div>
    </div>

<!--sctips for Tipinfo-->
    <script type="text/javascript">
        //load tiplifeexpectations
        $('[data-name= "TipLifeExpectationsGrid"]').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
        $('[data-name= "TipLifeExpectationsGrid"]').mvcgrid({
            sourceUrl: '@Url.Action("_TipLifeExpectationsGrid", new { location = ViewBag.location, tool_nr = ViewBag.tool_nr })', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            rowClicked: function (row, data, e) {
                //ignore clicks not on td
                if (e.target.tagName.toUpperCase() != 'TD') {
                    return;
                }
                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div data-name="TipwearBeforeChangeGrid" class="mvc-grid card-body"></div></div></td></tr>');
                //animation
                $('[data-name= "TipwearBeforeChangeGrid"]').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                $('[data-name= "TipwearBeforeChangeGrid"]').mvcgrid({
                        sourceUrl: '@Url.Action("_TipwearBeforeChangeGrid", new { location = ViewBag.location, tool_nr = ViewBag.tool_nr })', // Grid source url string
                        requestType: 'get', // Ajax grid request type
                        reload: true, // Grid reload indicator
                        reloadFailed: function (result) {
                            console.log(result);
                            $('[data-name= "TipwearBeforeChangeGrid"]').html($("#Error", result.responseText).html());
                        }
                });
            },
            reloadFailed: function (result) {
                console.log(result);
                $('[data-name= "TipLifeExpectationsGrid"]').html($("#Error", result.responseText).html());
            }
        });

        //load tipdress data grid 
        $('[data-name= "TipwearBeforeChangeGrid"]').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
        $('[data-name= "TipwearBeforeChangeGrid"]').mvcgrid({
            sourceUrl: '@Url.Action("_TipwearBeforeChangeGrid", new { location = ViewBag.location, tool_nr = ViewBag.tool_nr })', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            reloadFailed: function (result) {
                console.log(result);
                $('[data-name= "TipwearBeforeChangeGrid"]').html($("#Error", result.responseText).html());
            }
        });

        //load all control limits for this object
        $('#controllimitPlaceholder').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
        $("#controllimitPlaceholder").load("@Url.Action("_List", "L_controlLimits", new {Area = "Alert", alarmobject = ViewBag.location + "_tool" + ViewBag.tool_nr,  showIsDead = ViewBag.showIsDead })");

        //load tipdress data grid 
        $('[data-name= "TipDressDataGrid"]').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
        $('[data-name= "TipDressDataGrid"]').mvcgrid({
            sourceUrl: '@Url.Action("_TipDressDataGrid", new { location = ViewBag.location, tool_nr = ViewBag.tool_nr })', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            reloadFailed: function (result) {
                console.log(result);
                $('[data-name= "TipDressDataGrid"]').html($("#Error", result.responseText).html());
            }
        });

    </script>