@model IEnumerable<EqUiWebUi.Areas.user_management.Models.c_areas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Named("AreaFilters").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc).Css("xxd-none xxd-sm-block");
    columns.Add(c => c.Plant).Titled("Plant").Css("xxd-none xxd-sm-block");
    columns.Add(c => c.Optgroup).Titled("Optgroup").Css("xxd-none xxd-sm-block");
    columns.Add(c => c.LocationTreeFilter1).Titled("LocationTreeFilter1");
    columns.Add(c => c.Area).Titled("Area");
    columns.Add(c => c.UserComment).Titled("UserComment").Css("xxd-none xxd-sm-block");
    columns.Add(c => c.id)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id }) + " | " +
                                 @Html.ActionLink("Details", "Details", new { id = c.id }) + " | " +
                                 @Html.ActionLink("Delete", "Delete", new { id = c.id })

                ).InitialSort(GridSortOrder.Asc).Filterable(false).Css("xxd-none xxd-sm-block");
}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 15;
}).Empty("Did not find anything").Css("table-hover")
<hr />
<div class="alert alert-info">
    <h4>Tip</h4>
    To be able to copy the "locationtreefilter list" for tableau collaps the screen to SM XS select and copy
</div>
<hr />
<div class="alert alert-success">
    <div>
        <h5>LocationDropdownList</h5>
        @Html.DropDownList("testdropdownlist", (SelectList)ViewBag.selectlist, htmlAttributes: new { @class = "form-control" }, optionLabel: "--Select a location--")
    </div>
</div>

