@model IEnumerable<EqUiWebUi.Areas.user_management.Models.c_areas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Named("AreaFilters").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc).Css("d-none d-lg-table-cell");
    columns.Add(c => c.Plant).Titled("Plant").Css("d-none d-lg-table-cell");
    columns.Add(c => c.Optgroup).Titled("Optgroup").Css("d-none d-lg-table-cell");
    columns.Add(c => c.LocationTreeFilter1).Titled("LocationTreeFilter1");
    columns.Add(c => c.Area).Titled("Area");
    columns.Add(c => c.UserComment).Titled("UserComment").Css("d-none d-lg-table-cell");
    columns.Add(c => c.Ordinal).Titled("Ordinal").Css("d-none d-lg-table-cell");
    columns.Add(c => c.id)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id }) + " | " +
                                 @Html.ActionLink("Delete", "Delete", new { id = c.id })

                ).InitialSort(GridSortOrder.Asc).Filterable(false).Css("d-none d-lg-table-cell");
}).Sortable().Filterable().Pageable(pager =>
{
    pager.RowsPerPage = 10;
    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 20, "20" }, { 40, "40" }, { 80, "80" }, { 100, "100" } };
    pager.ShowPageSizes = true;
}).Empty("No workorders found").Css("table-hover")
<hr />
<div class="alert alert-info">
    <h4>Tip</h4>
    To be able to copy the "locationtreefilter list" for tableau collaps the screen to SM XS select and copy
</div>
<hr />
<div class="alert alert-success">
    <div>
        <h5>LocationDropdownList</h5>
        @Html.DropDownList("testdropdownlist", (SelectList)ViewBag.selectlist, htmlAttributes: new { @class = "form-control" }, optionLabel: "--Select a location--")
    </div>
</div>

