@model EqUiWebUi.Areas.VASC.Models.c_controller_class

<div class="card">
    <div class="card-header bg-light">
        <h5 class="card-title text-black-50">
            <a class="clickable far fa-window-restore text-black-50" href="@Url.Action("Index", "c_controller")" data-toggle="tooltip" title="Direct link to this view"></a>
            <strong>c_controllers</strong>
            (Robots connected to this class)
            @if (ViewBag.controller_id != null)
            {<strong>Filtered on controllerID: @ViewBag.controller_id</strong>}
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div id="c_controllerGrid" class="mvc-grid"></div>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-light">
        <h5 class="card-title text-black-50">
            <a class="clickable far fa-window-restore text-black-50" href="@Url.Action("Index", "c_variable")" data-toggle="tooltip" title="Direct link to this view"></a>
            <strong>c_variable</strong>
            (Rapid variables or IO signals handled *logged to a table or used as event)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div id="c_variableGrid" class="mvc-grid"></div>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-light">
        <h5 class="card-title text-black-50">
            <a class="clickable far fa-window-restore text-black-50" href="@Url.Action("Index", "c_variable_search")" data-toggle="tooltip" title="Direct link to this view"></a>
            <strong>c_variable_search</strong>
            (Rapid variables to be search for at startup and logged to a table)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div id="c_variable_searchGrid" class="mvc-grid"></div>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-light">
        <h5 class="card-title text-black-50">
            <a class="clickable far fa-window-restore text-black-50" href="@Url.Action("Index", "c_error")" data-toggle="tooltip" title="Direct link to this view"></a>
            <strong>c_error</strong>
            (alarms from controller event log can be setup to be ignored or redirected to junk table)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div id="c_errorGrid" class="mvc-grid"></div>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-light">
        <h5 class="card-title text-black-50">
            <a class="clickable far fa-window-restore text-black-50" href="@Url.Action("Index", "c_csv_log")" data-toggle="tooltip" title="Direct link to this view"></a>
            <strong>c_csv_log</strong>
            (CSV file type file to be monitored and logged to a table)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div id="c_csv_logGrid" class="mvc-grid"></div>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-light">
        <h5 class="card-title text-black-50">
            <a class="clickable far fa-window-restore text-black-50" href="@Url.Action("Index", "c_device_info")" data-toggle="tooltip" title="Direct link to this view"></a>
            <strong>c_device_info</strong>
            (setup how device info is monitored)
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div id="c_device_infoGrid" class="mvc-grid"></div>
    </div>
</div>


<script>
    //load girds
    $('#c_variableGrid').html('@MyHtmlHelpers.Loading("c_variableGrid")');
    $('#c_variableGrid').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_List","c_variable", new {enable_mask = Model.cVariableMask, controller_id = ViewBag.controller_id }))',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
              $("#c_variableGrid").html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
            EnableInterfaceEvents();
        }
    });

    $('#c_variable_searchGrid').html('@MyHtmlHelpers.Loading("c_variable_searchGrid")');
    $('#c_variable_searchGrid').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_List", "c_variable_search", new {enable_mask = Model.cVariableSearchMask, controller_id = ViewBag.controller_id }))',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#c_variable_searchGrid").html($("#Error", result.responseText).html());
        }
    });

    $('#c_errorGrid').html('@MyHtmlHelpers.Loading("c_errorGrid")');
    $('#c_errorGrid').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_List", "c_error", new {enable_mask = Model.cErrorMask, controller_id = ViewBag.controller_id }))',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#c_errorGrid").html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
            EnableInterfaceEvents();
        }
    });

    $('#c_csv_logGrid').html('@MyHtmlHelpers.Loading("c_csv_logGrid")');
    $('#c_csv_logGrid').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_List", "c_csv_log", new {enable_mask = Model.cCSVLogMask, controller_id = ViewBag.controller_id }))',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#c_csv_logGrid").html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
            EnableInterfaceEvents();
        }
    });

    $('#c_device_infoGrid').html('@MyHtmlHelpers.Loading("c_device_infoGrid")');
    $('#c_device_infoGrid').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_List", "c_device_info", new {enable_mask = Model.cDeviceInfoMask, controller_id = ViewBag.controller_id }))',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#c_device_infoGrid").html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
            EnableInterfaceEvents();
        }
    });

    $('#c_controllerGrid').html('@MyHtmlHelpers.Loading("c_controllerGrid")');
    $('#c_controllerGrid').mvcgrid({
        sourceUrl: '@Html.Raw(@Url.Action("_List", "c_controller", new { controllerclass = Model.id, controller_id = ViewBag.controller_id }))',
        reload: true,
        requestType: 'get', // Ajax grid request type
        reloadFailed: function (result) {
            $("#c_controllerGrid").html($("#Error", result.responseText).html());
        },
        reloadEnded: function () {
            EnableInterfaceEvents();
        }
    });


</script>
