@model EqUiWebUi.Areas.VASC.Models.c_controller_class

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>c_controller_class</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Main settings</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.doConnect, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.doConnect, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.doConnect, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.handleHSocket, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.handleHSocket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.handleHSocket, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.setClock, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.setClock, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.setClock, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">controller events</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                If insert or update is active this data is send to:
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evStateChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evStateChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evStateChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evOperatingModeChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evOperatingModeChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evOperatingModeChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evConnectionChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evConnectionChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evConnectionChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evExecutionStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evExecutionStatus, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evExecutionStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evExecutionStatusTRob1, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evExecutionStatusTRob1, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evExecutionStatusTRob1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evBackupCompleted, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evBackupCompleted, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evBackupCompleted, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evDataResolveChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evDataResolveChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evDataResolveChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evExecutionCycleChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evExecutionCycleChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evExecutionCycleChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evTaskEnabledChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evTaskEnabledChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evTaskEnabledChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evMasterChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evMasterChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evMasterChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evMotionPointerTRob1Change, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evMotionPointerTRob1Change, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evMotionPointerTRob1Change, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evProgramPointerTRob1Change, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evProgramPointerTrob1Change, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evProgramPointerTRob1Change, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evMotionPointerTRob1ManualChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evMotionPointerTrob1ManualChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evMotionPointerTRob1ManualChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.evProgramPointerTRob1ManualChange, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._evProgramPointerTrob1ManualChange, Model._SQL_Action, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.evProgramPointerTRob1ManualChange, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">c variable </h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="alert-info">
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.cVariableMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cVariableMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cVariableMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="alert">
                <div id="c_variableGrid" class="mvc-grid"></div>
            </div>

        </div>
    </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cVariableMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cVariableMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cVariableMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cVariableSearchMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cVariableSearchMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cVariableSearchMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cDeviceInfoMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cDeviceInfoMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cDeviceInfoMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cCSVLogMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cCSVLogMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cCSVLogMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cJobMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cJobMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cJobMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.logCategoryMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.logCategoryMask, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.logCategoryMask, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.evLogMessageAction, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.evLogMessageAction, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.evLogMessageAction, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cPJVEventMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cPJVEventMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cPJVEventMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cErrorNoLogMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cErrorNoLogMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cErrorNoLogMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.cAlarmIgnoreMask, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.ListBoxFor(model => model._cAlarmIgnoreMask, Model._Enable_bit_MASK, new { @class = "form-control bsMultiselect", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.cAlarmIgnoreMask, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        <!--Edit script-->
        @section scripts{
            @*http://davidstutz.de/bootstrap-multiselect/*@
            <script src="~/Scripts/bootstrap-multiselect.js"></script>
            <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
            <script>
                //Enable multiselect
                //https://forums.asp.net/t/2121112.aspx?Html+Dropdown+with+multiple+selections
                $('.bsMultiselect').multiselect();
            </script>
        }

        @section partials{
            <script>
                //load c_variable grid for active selection.
                function load_c_variableGrid() {
                        $('#c_variableGrid').mvcgrid({
                            sourceUrl: '@Url.Action("_List","c_variable")' ,
                            //query: '?search=test', // Grid query string
                            requestType: 'get', // Ajax grid request type
                            data: {
                                // Ajax grid query data
                            },
                            filters: {
                                // Grid filters to extend or use
                            },
                            reload: true, // Grid reload indicator
                            rowClicked: function (row, data, e) {
                            },
                            reloadStarted: function () {
                            },
                            reloadEnded: function () {
                            },
                            reloadFailed: function (result) {
                                $("#c_variableGrid").html("Error while loading!!!");
                            }
                         });
                }

                    console.log("hit");
                    load_c_variableGrid();
            </script>
            }
