@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_controller_class>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.controller_id != null)
{
    <h3>Filtered on controllerID: @ViewBag.controller_id</h3>
}

<div class="container">
    <h2>Index c_controller_class</h2>
    <div class="alert alert-info">
        <h4>
            Configuration of the controller class sets what a controller in that class should do
        </h4>

        <div class="text-muted">
            <p>*The "Mask" fields are binairy mask that tell VASC with subsystem records should be read</p>
            <p>*The "ev" fields set what should be done when a certain controller event happens.</p>
            <p>*See VASC manual for more details (2.5)</p>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("ADD controller class", "Edit", new { id = -1 })
</p>


@Html.Grid(Model).Named("c_controller_class").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.name).Titled("name");
    columns.Add(c => c.cVariableMask).Titled("cVariableMask").Css("d-none d-lg-table-cell");
    columns.Add(c => c.cVariableSearchMask).Titled("cVariableSearchMask").Css("d-none d-lg-table-cell");
    columns.Add(c => c.cErrorMask).Titled("cErrorMask").Css("d-none d-lg-table-cell");
    columns.Add(c => c.cCSVLogMask).Titled("cCSVLogMask").Css("d-none d-lg-table-cell");
    columns.Add(c => c.cDeviceInfoMask).Titled("cDeviceInfoMask").Css("d-none d-lg-table-cell");
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id })
                    ).Filterable(false);
    columns.Add(c => c)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Controller_events", "GetEventData", new { controller_id = ViewBag.controller_id })
                ).Filterable(false);
}).Filterable().Sortable().Empty("Did not find anything").Css("table-hover")


<hr />

<div class=" modal-body">
    <div class="modal-content">
        <div class="alert alert-info">This is connected to selected controller class</div>
        <div id="c_controller_classDetails">Click on a controller class to see what is configured</div>
    </div>
</div>


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //render details when they click on it.
        $('#c_controller_class').mvcgrid({
            rowClicked: function (row, data, e) {
                $("#c_controller_classDetails").html("Loading.....");
                var url = '@Url.Action("_Details")?id=' + data.id + '&controller_id=@ViewBag.controller_id'
                $("#c_controller_classDetails").load(url);
            }
        });
        //sim click on first row.
        $("#c_controller_class>table>tbody>tr:first").trigger('click');
    </script>
}
