@model IEnumerable<EqUiWebUi.Areas.VASC.Models.c_controller_class>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.controller_id != null)
{
    <div class="badge badge-info">Filtered on controllerID: @ViewBag.controller_id</div>
}

<h2>Index c_controller_class</h2>
<div class="alert alert-info">
    <h4>
        Configuration of the controller class sets what a controller in that class should do
    </h4>

    <div class="text-muted">
        *The "Mask" fields are binairy mask that tell VASC with subsystem records should be read<br />
        *The "ev" fields set what should be done when a certain controller event happens.<br />
        *See VASC manual for more details<br />
    </div>
</div>

@if (ViewBag.controller_id == null)
{
    <p>
        @MyHtmlHelpers.IconActionLink(Url.Action("Edit", new { id = -1 }), "fas fa-pencil-alt", "Create", "Create new class", OpenNewWindow: true)
    </p>
}

    <div>
        @Html.Grid(Model).Named("c_controller_class").Build(columns =>
        {
            columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc).Css("tablesaw-priority-1");
            columns.Add(c => c.name).Titled("name").Css("tablesaw-priority-persist");
            columns.Add(c => c.doConnect).Titled("doConnect").Css("tablesaw-priority-0");
            columns.Add(c => c.cVariableMask).Titled("cVariableMask").Css("tablesaw-priority-6");
            columns.Add(c => c.cVariableSearchMask).Titled("cVariableSearchMask").Css("tablesaw-priority-6");
            columns.Add(c => c.cErrorMask).Titled("cErrorMask").Css("tablesaw-priority-6");
            columns.Add(c => c.cCSVLogMask).Titled("cCSVLogMask").Css("tablesaw-priority-6");
            columns.Add(c => c.cDeviceInfoMask).Titled("cDeviceInfoMask").Css("tablesaw-priority-6");
            columns.Add(c => c.cJobMask).Titled("cJobMask").Css("tablesaw-priority-6");
            columns.Add(c => c.logCategoryMask).Titled("logCategoryMask").Css("tablesaw-priority-6");
            columns.Add(c => c.handleHSocket).Titled("handleHSocket").Css("tablesaw-priority-0");
            columns.Add(c => c.Username).Titled("Username").Css("tablesaw-priority-0");
            columns.Add(c => c.Password).Titled("Password").Css("tablesaw-priority-0");
            columns.Add(c => c.setClock).Titled("setClock").Css("tablesaw-priority-0");
            columns.Add(c => c.cPJVEventMask).Titled("cPJVEventMask").Css("tablesaw-priority-0");
            columns.Add(c => c.cPJVActionMask).Titled("cPJVActionMask").Css("tablesaw-priority-0");
            columns.Add(c => c.cErrorMask).Titled("cErrorMask").Css("tablesaw-priority-0");
            columns.Add(c => c)
                    .Titled("Tools")
                    .Encoded(false)
                    .RenderedAs(c => MyHtmlHelpers.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit", OpenNewWindow: true).ToHtmlString() +
                                     MyHtmlHelpers.IconActionLink(Url.Action("GetEventData", new { controller_id = ViewBag.controller_id }), "fas fa-file", "", "Controller_events", OpenNewWindow: true).ToHtmlString()
                        ).Filterable(false).Css("tablesaw-priority-1");
        }).Filterable().Sortable().Empty("Did not find anything").Css("table-hover tablesaw-on")
    </div>

<hr />

<div class="card">
    <div class="card-body">
        <div id="c_controller_classDetails"></div>
    </div>
</div>


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //render details when they click on it.
        $('[data-name="c_controller_class"]').mvcgrid({
            rowClicked: function (row, data, e) {
               if (e.target.tagName.toUpperCase() != 'TD') {
                    return;
                }
                $('tr').removeClass('bg-info');
                $(row).addClass("bg-info");

                $("#c_controller_classDetails").html('@MyHtmlHelpers.Loading("c_controller_classDetails")');
                $("#c_controller_classDetails").load('@Url.Action("_Details")',{id : data.id, controller_id : @(ViewBag.controller_id ?? "null")},
                    function (responseText, textStatus, req) {
                        if (textStatus == "error") {
                            $("#c_controller_classDetails").html($("#Error", responseText).html());
                        }
                    });
            },
            reloadFailed: function (result) {
                $('[data-name="c_controller_class"]').html($("#Error", result.responseText).html());
            },
            reloadEnded: function () {
               EnableInterfaceEvents();
            }
        });
        //sim click on first row.
        $('[data-name="c_controller_class"]>table>tbody>tr>td:first').trigger('click');
    </script>
}
