@model EqUiWebUi.Models.c_LogClassRules



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>c_LogClassRules</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.coderangeStart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.coderangeStart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.coderangeEnd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.coderangeEnd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.textSearch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.textSearch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.I_comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.I_comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.c_ClassificationId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.c_ClassificationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.c_SubgroupId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.c_SubgroupId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.c_logClassSystem.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.c_logClassSystem.Name)
            </dd>

        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
