@model EqUiWebUi.Models.c_LogClassRules



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>c_LogClassRules</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.coderangeStart)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.coderangeStart)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.coderangeEnd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.coderangeEnd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.textSearch)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.textSearch)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.I_comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.I_comment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.c_ClassificationId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.c_ClassificationId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.c_SubgroupId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.c_SubgroupId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.c_logClassSystem.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.c_logClassSystem.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
