
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            User management
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        @MyHtmlHelpers.EquiLink("/user_management/users/Index", "fas fa-users", "Users", helperText: "List all users")
        <p>@MyFilters.IconActionLink("/user_management/usersPermisions/Index", "fas fa-users-cog", "User grants", "administrator page that show all site permissions")</p>
        <p>
            @MyFilters.IconActionLink("/user_management/users/ListSessions", "fas fa-th-list", "Sessions", "List active session tokens")
            <span class="badge badge-warning">Active sessions: @ViewBag.ActiveSessions</span>
        </p>
    </div>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Asset management
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <h4>Assets</h4>
        @MyHtmlHelpers.EquiLink("/Assets/Index", "fas fa-boxes", "Assets", helperText: "Asset list imported from Maximo (joined with data controllers)")
        <hr />
        <h4>Asset Filtering</h4>
        @MyHtmlHelpers.EquiLink("/user_management/AreaFilters/Index", "fas fa-filter", "LocationFilters", helperText: "Manage location filters (for user profile filtering)")
        @MyHtmlHelpers.EquiLink("/user_management/c_ownership/Index", "fas fa-filter", "Ownership", helperText: "Manage ownership groups (for advanced filtering profiles)")

    </div>
</div>

