@model EqUiWebUi.Areas.user_management.Models.users

@{
    ViewBag.Title = "Details";
}

<h2>Details for user</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationRoot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationRoot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetRoot)
        </dt>

        @if (Model.AssetRoot == " ")
        {
            <dd>No filter</dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.AssetRoot)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsibleAreaOptGroup) -> @Html.DisplayFor(model => model.ResponsibleArea)
            @if (Model.ResponsibleAreaLocations != null)
            {
                <ul class="text-muted">
                    @foreach (string item in Model.ResponsibleAreaLocations)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Culture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Culture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit user", "Edit", new { id = Model.id })
</p>
<p>
    @Html.ActionLink("Impersonate user", "ViewAsUser", "UserScreens", new { username = Model.username, url = Url.Action("Index", "Home", new { area = "" }, null) }, new { area = "user_management" })
</p>
<hr />


<div>
    <h2>Permisions for this user</h2>
    @Html.AjaxGrid(Url.Action("_permisions", "usersPermisions", new { id = Model.id }))
</div>
<p>
    @Html.ActionLink("Add permission", "Create", "usersPermisions", new { id = Model.id }, null)
</p>
<hr />


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
