@model IEnumerable<EqUiWebUi.Areas.user_management.Models.users>

@{
    ViewBag.Title = "Index";
}

<h2>Index of all EQUI users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Named("Users").Build(columns =>
{
    columns.Add(c => c.username).Titled("Username").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.LocationRoot).Titled("LocationRoot");
    columns.Add(c => c.AssetRoot).Titled("AssetRoot");
    columns.Add(c => c.Locked).Titled("Locked").Css("XXd-none XXd-md-block");;
    columns.Add(c => c.Blocked).Titled("Blocked").Css("XXd-none XXd-md-block");;
    columns.Add(c => c.id)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id }) + " | " +
                                 @Html.ActionLink("Details", "Details", new { id = c.id }) + " | " +
                                 @Html.ActionLink("Delete", "Delete", new { id = c.id })

                ).InitialSort(GridSortOrder.Asc).Filterable(false);
}).Filterable(true).Sortable(true).Pageable(pager =>
{
    pager.RowsPerPage = 15;
}).Empty("Did not find anything").Css("table-hover")
