@model EqUiWebUi.Areas.Welding.Models.Inspectionplan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Inspectionplan</h4>
        <hr />
        <dl class="dl-horizontal">

    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
    
    
            <dt>
                @Html.DisplayNameFor(model => model.PlanActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PlanActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpotIdent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpotIdent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WorkTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WorkTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WorkGroup)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WorkGroup)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WorkLocation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WorkLocation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpotBefore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpotBefore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpotAfter)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpotAfter)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
