@model EqUiWebUi.Models.c_job

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>c_job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sqlCommand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sqlCommand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ordinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intervalCounter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intervalCounter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.continueOnJobFailure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.continueOnJobFailure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxRuntime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxRuntime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warnRuntime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warnRuntime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_datasource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_datasource.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_schedule.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_schedule.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
