@model IEnumerable<EqUiWebUi.Models.c_schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all schedules</h2>

<p>
    @Html.ActionLink("Create New", "Edit", new { id = -1 })
</p>
@Html.Grid(Model).Named("c_schedule").Build(columns =>
{
    columns.Add(c => c.id).Titled("ID").InitialSort(GridSortOrder.Asc).Css("d-none d-lg-table-cell");
    columns.Add(c => c.enabled).Titled("enabled");
    columns.Add(c => c.name).Titled("name");
    columns.Add(c => c.description).Titled("description");
    columns.Add(c => c.jcron).Titled("jcron");
    columns.Add(c => c.runContinues).Titled("runContinues");
    columns.Add(c => c)
            .Titled("")
            .Encoded(false)
            .RenderedAs(c => @MyHtmlHelpers.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "").ToHtmlString() +
                             @MyHtmlHelpers.IconActionLink(Url.Action("Delete", new { id = c.id }), "fas fa-trash-alt text-danger", "", "Delete").ToHtmlString()
            ).Filterable(false);
}).Filterable().Sortable().Empty("Did not find anything").Css("table-hover")

@section scripts{
    <script>
       //subscribe to row clicked events
        $('[data-name="c_schedule"]').mvcgrid({
            rowClicked: function (row, data, e) {
                //ignore clicks not on td
                console.log(e.target.tagName);
                if (e.target.tagName.toUpperCase() != 'TD') {
                    return;
                }
                //if row already has this class close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div class="card-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                //load url in placeholder
                console.log(data);
                var url = "@Url.Action("_JobList")?c_schedule_id=" + data["id"];
                $("#placeholderPartial").load(url);
            }
        });

        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}
