@model EqUiWebUi.Areas.Welding.Models.StoringsIngave_new

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>StoringsIngave_new</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.enddate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.enddate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.starttime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.starttime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Endtime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Endtime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.worklocation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.worklocation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.userComment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.userComment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Users.CDSID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Users.CDSID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoringName.reason)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoringName.reason)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoringsCause.Cause)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoringsCause.Cause)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
