@model IEnumerable<EqUiWebUi.Areas.Welding.Models.rt_spottable>

@{
    ViewBag.Title = "Index";
    
}

<h2>Configure the spotlist from database</h2>


  
</p>
<table class="table">
    <tr>

       
        <th>
            @Html.DisplayNameFor(model => model.SpotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HiddenSpot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoSpot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpotLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpotRight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_timer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
 
        <td>
            @Html.DisplayFor(modelItem => item.SpotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HiddenSpot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeoSpot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpotLeft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpotRight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_timer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
           
        </td>
    </tr>
}

</table>
