@model EqUiWebUi.Areas.VASC.Models.rt_active_info

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>rt_active_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.h_alarm_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h_alarm_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rt_alarm_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rt_alarm_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rt_job_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rt_job_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.application_error)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.application_error)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.operating_mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operating_mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.execution_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.execution_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controller_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controller_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.master_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.master_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.at_home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.at_home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vasc_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vasc_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task_execution_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_execution_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ts_breakDownAck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ts_breakDownAck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ts_breakDownStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ts_breakDownStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_controller.controller_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_controller.controller_name)
        </dd>

    </dl>
</div>

