@model EqUiWebUi.Areas.Alert.Models.c_triggers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>c_triggers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sqlStqStatement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sqlStqStatement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locationThreeMask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locationThreeMask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smsActivePloeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smsActivePloeg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smsActiveStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smsActiveStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smsActiveEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smsActiveEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smsLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smsLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smsSend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smsSend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pollrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pollrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alertType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alertType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classificationMask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classificationMask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoSetStateTechComp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoSetStateTechComp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smsOnRetrigger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smsOnRetrigger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_smsSystem.discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_smsSystem.discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_state.discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_state.discription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
