@model IEnumerable<EqUiWebUi.Areas.Alert.Models.c_triggers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of all alerts triggers</h2>

<p>
    @Html.ActionLink("Create New trigger", "Edit",new {id = -1 }) 
</p>


@Html.Grid(Model).Named("c_triggers").Build(columns =>
{
    columns.Add(c => c.id).Titled("ID").InitialSort(GridSortOrder.Asc).Css("d-none d-lg-table-cell");
    columns.Add(c => c.alertType).Titled("alertType");
    columns.Add(c => c.enabled).Titled("enabled");
    columns.Add(c => c.discription).Titled("discription");
    columns.Add(c => c.enableSMS).Titled("enableSMS");
    columns.Add(c => c.c_smsSystem.system).Titled("SMSsystem");
    columns.Add(c => c.smsOnRetrigger).Titled("smsOnRetrigger").Css("d-none d-lg-table-cell");
    columns.Add(c => c.id)
                .Titled("")
                .Encoded(false)
                .RenderedAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.id }) + " | " +
                                 @Html.ActionLink("Show", "Index","h_alert", new { c_trigger_id = c.id },null) + " | " +
                                 @Html.ActionLink("Delete", "Delete", new { id = c.id })
                ).InitialSort(GridSortOrder.Asc).Filterable(false);
}).Filterable().Sortable().Empty("Did not find anything").Css("table-hover")

@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>
}