@model EqUiWebUi.Areas.Welding.Models.UltralogInspections

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UltralogInspections</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InspectorComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectorComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasuredThickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasuredThickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinIdentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinIdentation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalThickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalThickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanLenght)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanLenght)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspectionplan.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspectionplan.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltralogStations.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltralogStations.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.CDSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.CDSID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
