@model EqUiWebUi.Areas.Welding.Models.h_production_issues

@{
    ViewBag.Title = "Delete";
}



<h3>Ben je zeker deze te verwijderen?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rt_spottable.SpotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rt_spottable.SpotName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.c_production_issue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_production_issue.issue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_reporter.reporterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_reporter.reporterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>





    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
