@model EqUiWebUi.Areas.Welding.Models.h_production_issues

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>h_production_issues</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastBodyNbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastBodyNbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_production_issue.issue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_production_issue.issue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_reporter.reporterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_reporter.reporterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rt_spottable.SpotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rt_spottable.SpotName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
