<div>
    <h2>Legend for supervision system</h2>
    <hr />
    <h3>Primairy styles</h3>
    <table style="width:100%">
        <tr>
            <th>Logtype</th>
            <th>RowStyle</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>LIVE</td>
            <td class="@EqUiWebUi.Areas.Supervision.SupervisionHelpers.getRowStyleLogtype("LIVE")"></td>
            <td>marks a breakdown that is ongoing </td>
        </tr>
        <tr>
            <td>BREAKDOWN</td>
            <td class="@EqUiWebUi.Areas.Supervision.SupervisionHelpers.getRowStyleLogtype("BREAKDOWN")"></td>
            <td>marks a breakdown (robot) that has been resolved</td>
        </tr>
        <tr>
            <td>STOerror</td>
            <td class="@EqUiWebUi.Areas.Supervision.SupervisionHelpers.getRowStyleLogtype("STOerror")"></td>
            <td>marks a breakdown (plc) that has been resolved</td>
        </tr>
        <tr>
            <td>TIMELINE</td>
            <td class="@EqUiWebUi.Areas.Supervision.SupervisionHelpers.getRowStyleLogtype("TIMELINE")"></td>
            <td>marks begin of each new production shift</td>
        </tr>
        <tr>
            <td>ALERT</td>
            <td class="@EqUiWebUi.Areas.Supervision.SupervisionHelpers.getRowStyleLogtype("ALERT")"></td>
            <td>marks a alert that has been resolved (see below for active alerts)</td>
        </tr>
    </table>

    <hr />
    @*Get list with animation types for alerts*@
    @Html.Action("_Legend", "c_triggers", new { Area = "Alert" })
    <hr />
    @Html.Action("_getWiki", "Wiki", new { area = "", id = "Breakdown" })
    <hr />
    <h3>This system will buffer data for a limited time.</h3>
    <p>DatabufferNumShifts: <strong>@System.Configuration.ConfigurationManager.AppSettings["DatabufferNumShifts"]</strong> </p>
    <p>DatabufferNumDefaultHours: <strong>@System.Configuration.ConfigurationManager.AppSettings["DatabufferNumDefaultHours"]</strong>(used in case of timeline failure)</p>
    <table>
        <tr>
            <th>Buffer</th>
            <th>datacount</th>
        </tr>
        @if (EqUiWebUi.MyBooleanExtensions.IsAreaEnabled("VCSC"))
        {
        <tr>
            <td>dataC3G</td>
            <td>@EqUiWebUi.Areas.Supervision.DataBuffer.dataC3G.Count()</td>
        </tr>
        <tr>
            <td>dataC4G</td>
            <td>@EqUiWebUi.Areas.Supervision.DataBuffer.dataC4G.Count()</td>
        </tr>
        <tr>
            <td>dataS4C</td>
            <td>@EqUiWebUi.Areas.Supervision.DataBuffer.dataS4C.Count()</td>
        </tr>
        <tr>
            <td>dataSTO</td>
            <td>@EqUiWebUi.Areas.Supervision.DataBuffer.dataSTO.Count()</td>
        </tr>
        }
        <tr>
            <td>dataVASC</td>
            <td>@EqUiWebUi.Areas.Supervision.DataBuffer.dataVASC.Count()</td>
        </tr>
        <tr>
            <td>dataALERT</td>
            <td>@EqUiWebUi.Areas.Supervision.DataBuffer.dataALERT.Count()</td>
        </tr>
    </table>
    <hr />
</div>
