@*set title*@
@{
    ViewBag.Title = "PloegRapport";
}
<div class="card">
    <div class="card-header bg-dark text-white">
        <h4>
            PloegRapport
            <a class="fas fa-wrench text-white" id="OptionsPopover" href="#" data-toggle="popover" data-placement="bottom"></a>
        </h4>
    </div>
    <div id="PloegRapportGridSpincontainer" style="position:relative">
        <div data-name="PloegRapportGrid" class="mvc-grid"></div>
    </div>
</div>

@*popover content*@
<div class="d-none" id="OptionsPopoverContent">
    <div class="panel panel-body">
        <small class="form-text text-muted">PloegRapportSettings</small>
        <div class="input-group input-group-sm col-2">
            <div class="input-group-prepend">
                <span class="input-group-text">minSumOfDownTime</span>
            </div>
            <input type="number" class="form-control" id="minSumOfDownTime" value=@ViewBag.minSumOfDownTime>
            <div class="input-group-append">
                <span class="btn btn-primary" id="btnSet">Set</span>
            </div>
        </div>
        <div class="input-group input-group-sm mb-3 col-2">
            <div class="input-group-prepend">
                <span class="input-group-text">minCountOfDownTime</span>
            </div>
            <input type="number" class="form-control" id="minCountOfDownTime" value=@ViewBag.minCountOfDownTime>
            <div class="input-group-append">
                <span class="btn btn-primary" id="btnSet">Set</span>
            </div>
        </div>
    </div>
</div>

@*render popuover modal*@
<div id="MyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='card-body'>
        <i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white'></i>
        <span class='sr-only'>Loading...</span>
    </div>
</div>

@section scripts{
    <!--ploegrapport script-->
    <script type="text/javascript">
        // var to singal supervisie is expanded. (reload gird will wait until closes)
        var supervisieIsExpanded = false;
        //helper function to load info modal
        function LoadMoreInfo(data) {
            //launch modal
            $('#MyModal').removeData('bs.modal');
            $('#MyModal').modal({ show: true });
            $('#MyModal').load('@Url.Action("_Moreinfo", "Table")', {
                location: encodeURIComponent(data["location"]),
                errornum: encodeURIComponent(data["logcode"]),
                refid: encodeURIComponent(data["ref-id"]),
                logtype: encodeURIComponent(data["logtype"]),
                logtext: encodeURIComponent(data["logtext"])
            }, function (result) { });
        }

    //render grid and subscrible to row clicked events
        $('[data-name="PloegRapportGrid"]').mvcgrid({
            sourceUrl: '@Url.Action("_ploegRapportGrid")', // Grid source url string
            requestType: 'get', // Ajax grid request type
            reload: true, // Grid reload indicator
            data: {
                minSumOfDownTime: $('#minSumOfDownTime').val(),
                minCountOfDownTime: $('#minCountOfDownTime').val(),
                ApplyResponsibleArea: @ViewBag.ApplyResponsibleArea.ToString().ToLower()
            },
            //if rowclicked and count is 1 show popup else expand the count and load a filterd supervision grid.
            rowClicked: function (row, data, e) {
                if (data["count"] == "1") {
                    LoadMoreInfo(data);
                }
                else {
                    //if row already has this clase close the modal
                    if ($(row).hasClass("bg-info")) {
                        $("#placeholder").remove();
                        $(row).removeClass("bg-info");
                        supervisieIsExpanded = false;
                        return;
                    }
                    supervisieIsExpanded = true;
                    //clear selected rows for this table
                    $('tr').removeClass('bg-info'); //THIS IS WRONG
                    $(row).addClass("bg-info");
                    $("#placeholder").remove(); //clear placeholder is exists
                    //add new placeholder afhter selected row
                    $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div data-name="SupervisieGrid" class="mvc-grid card-body"></div></div></td></tr>');
                    //animation
                    $('[data-name="SupervisieGrid"]').html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                    //load supervisiegird in placeholder
                    $('[data-name="SupervisieGrid"]').mvcgrid({
                            sourceUrl: '@Url.Action("_supervisie")', // Grid source url string
                            requestType: 'get', // Ajax grid request type
                            data: { locationRootFilter: data["location-tree"]},
                            reload: true, // Grid reload indicator
                            rowClicked: function (row, data, e) {
                                LoadMoreInfo(data);
                            },
                            reloadFailed: function (result) {
                                console.log(result);
                                $('[data-name="SupervisieGrid"]').html($("#Error", result.responseText).html());
                            }
                        });
                }
            },
            reloadFailed: function (result) {
                console.log(result);
                $('[data-name="PloegRapportGrid"]').html($("#Error", result.responseText).html());
            }
        });

        //on modal close
        $('#MyModal').on('hidden.bs.modal', function (e) {
            $('#MyModal').html("<div class='card-body'><i class='fa fa-spinner fa-pulse fa-4x fa-fw text-white' ></i ><span class='sr-only'>Loading...</span></div >");
        });

        //enable popover for settings.
        $('#OptionsPopover').popover({
            html: true,
            content: function () {
                return $('#OptionsPopoverContent').html();
            }
        });

        //function to change ploegrapport parameters.
        $("#btnSet").click(function () {
            $('[data-name="PloegRapportGrid"]').mvcgrid({
                reload: true, // Grid reload indicator
                data: {
                    minSumOfDownTime: $('#minSumOfDownTime').val(),
                    minCountOfDownTime: $('#minCountOfDownTime').val(),
                    ApplyResponsibleArea: @ViewBag.ApplyResponsibleArea.ToString().ToLower()
                }
            });
        });

        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");
    </script>

    <!--Handle signal R reload-->
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        $.connection.hub.start()
            .done(function () {
                console.log("PloegRapport SignalR connected");
                $.connection.dataRefreshHub.server.joinGroup("Ploegrapport");
            })
            .fail(function () { console.log("PloegRapport SignalR connect ERROR") });

        //trigger full window reload
        $.connection.dataRefreshHub.client.newData = function () {
            if (supervisieIsExpanded != true) {
                console.log("PloegRapportGrid reload");
                $('[data-name="PloegRapportGrid"]').mvcgrid({
                    reload: true
                });
            }
            else {
                console.log("Reload request but supervisie is open. (skipped reload)");
            }
        }
    </script>
}
