
@model IQueryable< EqUiWebUi.Areas.Welding.Models.rt_alarm>

@{
    ViewBag.Title = "index";
}

<h2>test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Named("_WeldFaultanalyse").Build(columns =>
{
    columns.Add(c => c.errorCode2_txt).Titled("id");
    columns.Add(c => c.wmcomment).Titled("id");



}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("Did not find anything").Css("table-hover")

@section scripts{
    <script src="~/node_modules/jquery-jeditable/dist/jquery.jeditable.min.js"></script>

    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //subscribe to row clicked events
        $('[data-name="c_housekeepingGrid"]').mvcgrid({
            rowClicked: function (row, data, e) {
                return;


                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div class="card-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                //load url in placeholder
                var url = "@Url.Action("_L_housekeeping")?id=" + data["id"];
                $("#placeholderPartial").load(url);
            }
        });

        //test with Jeditable for in place table editable
        //https://github.com/NicolasCARPi/jquery_jeditable/
        //Sample code
        https://jeditable.elabftw.net/


        //simple sample basic
        $('.editTestCollum1').editable('@Url.Action("UpdateLabel")');

        //full sample
        $('.editTestCollum2').editable('@Url.Action("UpdateLabel")', {
            data   : '{"E":"Letter E","F":"Letter F","G":"Letter G", "selected":"F"}',
            type   : 'select',
            submit : 'OK'
        });
    </script>
}
