
@{
                /**/


                ViewBag.Title = "Index WM";
}
<div class="jumbotron jumbotron-fluid">
    <center><h1>Welding Master HomePage</h1></center>
</div>


<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            General overview
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>
    @MyHtmlHelpers.EquiLink("/Welding/WM/TV", "fas fa-tv", "TV", helperText: "Qis system,live weldfaults factory, online timers")


    @MyHtmlHelpers.EquiLink("/Welding/WM/Index", "fas fa-list-ol", "Daily workload WM", helperText: "New werkaanbod")

    @MyHtmlHelpers.EquiLink("/Welding/Spatter/Index", "fas fa-fire", "SpatterPage ", helperText: "Spatters and spikes follow up ")

    @MyHtmlHelpers.EquiLink("/Alert/Alert/Listalerts?h_alert-c_triggers.alert-group-contains=Dalert", "fas fa-bell", " All D alerts ", helperText: "Follow up all D alerts")

    @MyHtmlHelpers.EquiLink("/Alert/Alert/Listalerts?h_alert-c_triggers.alert-group-contains=Qalert", "fas fa-bell", " All Q Alerts ", helperText: "Follow up all Q alerts ")

    @MyHtmlHelpers.EquiLink("/Alert/Alert/Listalerts?h_alert-c_state.state-not-equals=TECHCOMP&h_alert-info-contains=QSTOP%20warning&h_alert-rows=20", "fas fa-bell", "QstopWarnings", helperText: "Pro Actief Qstops vermijden ")

    <p>
</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Data Tools
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <p>
    <p>
        <a href="~//Welding/Launch" class="btn btn-primary btn-sm">Tools for Launch activity &raquo;</a>
        Webpage Launch
    <p>
        <a href="~//Welding/WM/_datachange" class="btn btn-primary btn-sm">Data change Weldtimers &raquo;</a>
        Analyse WeldTimer Data Change only
    <p>
        <a href="~//Welding/WM/_TimerIpAdresses" class="btn btn-primary btn-sm">All Timer Ip Adresses &raquo;</a>
        Look Up IP Adresses
    <p>
       <a href="~/Welding/WM/_rt_job1" class="btn btn-primary btn-sm">WeldData Job &raquo;</a>
        WeldData Job Analyser
    <p>
        <a href="~/Welding/WM/_TimerBreakdownDatachange" class="btn btn-primary btn-sm">TimerBreakdownDatachange &raquo;</a>
        All TimerBreakDowns with datachange WM
    </p>
    <p></p>
</div>
<p></p>

@*This card is default collapsed see fa-rotate-180 and display:none*@
    <div class="card">
        <div class="card-header bg-danger">
            <h5 class="card-title text-white">
                Config
                <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
            </h5>
        </div>
        <div class="card-body" style="display:none">

            <p>
                <a href="~/Welding/QteamConfig/Config" class="btn btn-primary btn-sm">Beheer WeldingMasters DB</a>
                Beheer en Config DB & VWSC
            </p>

        </div>




    </div>
    <p></p>


