
@{

    ViewBag.Title = "Index WM";
}
<div class="jumbotron">
    <h1>Welding Master HomePage</h1>
</div>

<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            General Tools
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <p></p>
    @MyHtmlHelpers.EquiLink("/Welding/WM/TV", "far fa-file-alt", "TV", helperText: "Qis system, live weldfaults factory, online timers")

    <p></p>
    @MyHtmlHelpers.EquiLink("/Welding/WM/_TimerBreakdownDatachange", "far fa-file-alt", "TimerBreakdownDatachange", helperText: "All TimerBreakDowns with datachange WM")
    
    <p></p>
    @MyHtmlHelpers.EquiLink("/Welding/WM/_QstopWarnings", "far fa-file-alt", "QstopWarning ---under construction---", helperText: "Pro Actief Qstops vermijden")
    <p></p>
    @MyHtmlHelpers.EquiLink("/Welding/WM/_SpatterData", "far fa-file-alt", "SpatterWarning ---under construction---", helperText: "Pro Actief vermijden van Spatters")

    @*voorbeeld interne link*@
    <p>
    <p>
        <a href="~/vwsc/vwsc/rt_job" class="btn btn-primary btn-sm">WeldData Job &raquo;</a>
        WeldData Job Analyser
    <p>
    <p>

        <a href="~/Welding/WM/_Weldfaultprotocol" class="btn btn-primary btn-sm">WeldFaultProtocol &raquo;</a>
        Weldfaultprotocol ---under contruction---
    </p>

</div>
<p></p>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            Data Tools
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up  fa-rotate-180 fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body" style="display:none">

        <p></p>

        @MyHtmlHelpers.EquiLink("/Welding/Launch", "far fa-file-alt", "Tools for Launch activity", helperText: "launch data")

        <p></p>



    </div>
    <p></p>


