@model EqUiWebUi.WebGridHelpers.DefaultModel
@{
    ViewBag.Title = "_woDetails";
}

<div class="panel panel-default @((!string.IsNullOrWhiteSpace(ViewBag.DESCRIPTION) || !string.IsNullOrWhiteSpace(ViewBag.LongDescription)) ? "shown":"hidden")">
    <div class="panel-heading">
        <h6>
            Description:
            <strong>@ViewBag.DESCRIPTION</strong>
        </h6>
    </div>

    <div class="panel-body @(!string.IsNullOrWhiteSpace(ViewBag.LongDescription) ? "shown":"hidden")">
        @Html.Raw(ViewBag.LongDescription)
    </div>
</div>

<div class="panel panel-default  @((!string.IsNullOrWhiteSpace(ViewBag.REMARKDESC) || !string.IsNullOrWhiteSpace(ViewBag.FailureRemark)) ? "shown":"hidden")">
    <div class="panel-heading">
        <h6>
            FailureRemark:
            <strong> @ViewBag.REMARKDESC</strong>
        </h6>
    </div>

    <div class="panel-body  @(!string.IsNullOrWhiteSpace(ViewBag.FailureRemark) ? "shown":"hidden")">
        @Html.Raw(ViewBag.FailureRemark)
    </div>
</div>

<div class="panel panel-default @(Model.Data.Count() != 0 ? "shown":"hidden")">
    <div class="panel-heading">
        <h6>Labor</h6>
    </div>

    <div class="panel-body">
        @{
            WebGrid grid = new WebGrid(null, rowsPerPage: @Model.PageSize);
            grid.Bind(Model.Data, autoSortAndPage: true, rowCount: @Model.PageSize);
        }

        @grid.GetHtml(
                                             htmlAttributes: new { id = "gridMapping", style = "font-size: 12px" },
                                             tableStyle: "table table-striped grid-table",
                                             headerStyle: "grid-header-title",
                                             footerStyle: "grid-footer",
                                             alternatingRowStyle: "webgrid-alternating-row",
                                             selectedRowStyle: "grid-row grid-row-selected",
                                             rowStyle: "grid-row",
                                             mode: WebGridPagerModes.All,
                                             firstText: "<< First",
                                             previousText: "< Prev",
                                             nextText: "Next >",
                                             lastText: "Last >>",
                                             columns: ViewBag.LABORColumns
                                 )
    </div>
</div>

@*inform user that this is a realtime connection*@
@if (ViewBag.RealtimeConn)
{
    <div class="label">
        <div class="label label-danger">
            RT
        </div>
    </div>
}