@model  List<EqUiWebUi.Areas.Maximo_ui.Models.Labor>
@{
    ViewBag.Title = "_woDetails";
}

<div class="card @((!string.IsNullOrWhiteSpace(ViewBag.DESCRIPTION) || !string.IsNullOrWhiteSpace(ViewBag.LongDescription)) ? "d-block":"d-none")">
    <div class="card-header bg-light">
        <h6 class="card-title">
            Description:
            <strong>@ViewBag.DESCRIPTION</strong>
        </h6>
    </div>

    <div class="card-body @(!string.IsNullOrWhiteSpace(ViewBag.LongDescription) ? "d-block":"d-none")">
        @Html.Raw(ViewBag.LongDescription)
    </div>
</div>

<div class="card @((!string.IsNullOrWhiteSpace(ViewBag.REMARKDESC) || !string.IsNullOrWhiteSpace(ViewBag.FailureRemark)) ? "d-block":"d-none")">
    <div class="card-header bg-light">
        <h6 class="card-title">
            FailureRemark:
            <strong> @ViewBag.REMARKDESC</strong>
        </h6>
    </div>


    <div class="card-body  @(!string.IsNullOrWhiteSpace(ViewBag.FailureRemark) ? "d-block":"d-none")">
        @Html.Raw(ViewBag.FailureRemark)
    </div>
</div>


<div class="card d-block">
    <div class="card-header bg-light">
        <h6 class="card-title">
            ReportedBy:
            <strong> @ViewBag.REPORTEDBY</strong>
        </h6>
    </div>
</div>

<div class="card @(Model.Count() != 0 ? "d-block":"d-none")">
    <div class="card-header bg-light">
        <h6 class="card-title">
            Labor
        </h6>
    </div>
    <div>
        @Html.Grid(Model).Named("Labor").Build(columns =>
        {
            columns.Add(c => c.DisplayName).Titled("Name");
            columns.Add(c => c.Craft).Titled("Craft");
            columns.Add(c => c.Supervisor).Titled("Supervisor");
            columns.Add(c => c.REGULARHRS).Titled("REGULARHRS");
        })
    </div>
</div>

<div id="SubWodetails"></div>

<!--Get subworkorders-->
@if (ViewBag.RenderSubwo)
{
<script type="text/javascript">
    //load url in placeholder
    $("#SubWodetails").html("<div class='card-body'><i class='fa fa-spinner fa-pulse fa-2x fa-fw'></i><span class='sr-only'></span>Loading subworkorders....</div>");
    $("#SubWodetails").load("@Url.Action("_SubWoDetails", "WorkorderDetails", new { parentwonum = @ViewBag.wonum } )",
        function (responseText, textStatus, req) {
            if (textStatus == "error") {
                $("#placeholderPartial").html($("#Error", responseText).html());
            }
        });
</script>
}