@model List<EqUiWebUi.Areas.Maximo_ui.Models.Workorder>

<div class="card">
    <div class="card-header bg-dark">
        <h4 class="text-white">WoDetails <strong>@ViewBag.parentwonum</strong> (parent)</h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>

    <div class="card-body">
        @{Html.RenderAction("_woDetails", new { wonum = ViewBag.parentwonum, RealtimeConn = ViewBag.RealtimeConn });}
    </div>

</div>

<div class="card">
    <div class="card-header bg-info">
        <h4>WoDetails <strong>@ViewBag.parentwonum</strong> (childeren)</h4>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>

    <div class="card-body">
        @foreach (EqUiWebUi.Areas.Maximo_ui.Models.Workorder subWo in Model)
        {
            <div class="card">
                <div class="card-header bg-light">
                    <h6>WoDetails wo:<strong>@subWo.WONUM</strong>  location:<strong>@subWo.LOCATION</strong>  Ownergroup:<strong>@subWo.OWNERGROUP</strong> status:<strong>@subWo.STATUS</strong> (child)</h6>
                </div>

                <div class="card-body">
                    @{Html.RenderAction("_woDetails", new { wonum = subWo.WONUM, RealtimeConn = ViewBag.RealtimeConn });}
                </div>

            </div>
         }
    </div>
</div>
