@model IEnumerable<EqUiWebUi.Areas.Alert.Models.c_smsSystem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index of c_smsSystem</h2>
    <div class="alert alert-info">
        <h4>
            <strong>Records configured here can be joined to an alert trigger</strong>
        </h4>

        <div class="text-muted">
            this does not direcly join to a phone. The link between smsSystem and a CPT600 is made in c_Smsconfig
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.system)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.system)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
