@model EqUiWebUi.WebGridHelpers.DefaultModel
@{
    ViewBag.Title = "_woDetails";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h6>LongDescription</h6>
    </div>

    <div class="panel-body">
        @Html.Raw(ViewBag.LongDescription)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6>FailureRemark</h6>
    </div>

    <div class="panel-body">
        @Html.Raw(ViewBag.FailureRemark)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6>Labor</h6>
    </div>

    <div class="panel-body">
        @{
            WebGrid grid = new WebGrid(null, rowsPerPage: @Model.PageSize);
            grid.Bind(Model.Data, autoSortAndPage: true, rowCount: @Model.PageSize);
        }

        @grid.GetHtml(
                    htmlAttributes: new { id = "gridMapping", style = "font-size: 12px" },
                    tableStyle: "table table-striped grid-table",
                    headerStyle: "grid-header-title",
                    footerStyle: "grid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    selectedRowStyle: "grid-row grid-row-selected",
                    rowStyle: "grid-row",
                    mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
                    columns: ViewBag.LABORColumns
        )
    </div>
</div>







