@model EqUiWebUi.Models.WorkordersOnLocation
@{
    ViewBag.Title = "Workorders";
}
<div>
    <p></p>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    <p style="font-size: 12px">
                        Workorders for location:<a href="#" data-toggle="tooltip" data-placement="bottom" title="@Model.location">'@ViewBag.locationInfo'</a>
                        Station:<a href="#" data-toggle="tooltip" data-placement="bottom" title="@Model.station">'@ViewBag.stationInfo'</a>
                    </p>
                </td>

                <td style="padding-left:50px;"> </td>

                <td>
                    @Html.CheckBoxFor(m => m.b_ciblings, new { onclick = "cb_click();" }) Include ciblings
                </td>

                <td style="padding-left:25px;"> </td>

                <td>
                    @Html.CheckBoxFor(m => m.b_preventive, new { onclick = "cb_click();" }) Include workordertype: PP,PCI, WSCH
                </td>

            </tr>
        </table>
    </div>

    <p></p>

    <div class="panel panel-default">

        <div class="panel-body">
            <p>@ViewBag.error</p>
            @Html.AjaxGrid(Url.Action("_workordersOnLocation",
                         new
                         {
                             location = Model.location,
                             station = Model.station,
                             b_ciblings = Model.b_ciblings,
                             b_preventive = Model.b_preventive
                         }))

        </div>

        <p></p>
        @*info model in page load wo details *@
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="woDetailsPartial">Click on a row for more details about a workorder</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @*run on doc ready *@
    $(document).ready(function () {
        //hide the navbar and move body content up
        $(".navbar-fixed-top").autoHidingNavbar().hide();
        $("#allcontent").animate({ "margin-top": "-60px" }, "fast");
        //set ceckbox value to model on start
        document.getElementById("b_ciblings").checked = @Json.Encode(Model.b_ciblings);
        document.getElementById("b_preventive").checked = @Json.Encode(Model.b_preventive);
        //set optional font size. (to support HD and 4K monitors  )
        SetTableFont('@ViewBag.fontSize');
        //subscribe to row clicked events
        $('#Workorders').mvcgrid({
            rowClicked: function (row, data, e) {
                $("#woDetailsPartial").html("Loading.....");
                var url = "@Url.Action("_woDetails", "Maximo")?wonum=" + data.WONUM;
                $("#woDetailsPartial").load(url);
            }
        });
    });

    @*function runs on checkbox change event*@
    function cb_click() {
        //reload grid add parameters that can change in UI
        $('#Workorders').mvcgrid({
            sourceUrl: '@Url.Action("_workordersOnLocation",
                    new //recreate action link WIHTOUT boolean parameters!
                    {
                        location = Model.location,
                        station = Model.station
                    })', // Grid source url string
            reload: true,
            data: {
                // Ajax grid query data
                b_ciblings: document.getElementById("b_ciblings").checked,
                b_preventive: document.getElementById("b_preventive").checked
            },
            reloadStarted: function () {
                    //console.log('Start');
                },
            reloadEnded: function () {
                    //console.log('End');
                },
            reloadFailed: function (result) {
                    console.log('I shall not crash in here :)');
                },
        });
    };
</script>

