@model IEnumerable<EqUiWebUi.Areas.VASC.Models.winService>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <a class="fas fa-sync-alt text-black-50  clickable" data-toggle="popover" id="refresh" data-placement="bottom" title="Refresh"></a>
    List of all VASC sessions configured in database checked against host <strong>@ViewBag.vaschost</strong>
</h2>
@Html.Grid(Model).Named("c_service_setupSessionsGrid").Build(columns =>
{
    columns.Add(c => EqUiWebUi.Areas.VASC.Models.VASCenums.intArrayTostring(c._Enable_mask)).Titled("_Enable_mask").Css("tablesaw-priority-0").Filterable(true);
    columns.Add(c => c.bit_id).Titled("bit_id").Css("tablesaw-priority-0");
    columns.Add(c => c.SessionName).Titled("SessionName").InitialSort(GridSortOrder.Asc).Css("tablesaw-priority-persist");
    columns.Add(c => c.description).Titled("description").Css("tablesaw-priority-0");
    columns.Add(c => c.ServiceName).Titled("ServiceName").Css("tablesaw-priority-6");
    columns.Add(c => c.ServiceDisplayName).Titled("ServiceDisplayName").Css("tablesaw-priority-0");
    columns.Add(c => c.ServiceStatus).Titled("ServiceStatus");
    columns.Add(c => c.ServiceStartName).Titled("StartName").Css("tablesaw-priority-0");
    columns.Add(c => c.OKcontrollerCount.ToString() + "/" + c.controllerCount.ToString()).Titled("Connected");
    columns.Add(c => c.ServiceDescription).Titled("ServiceDescription").Css("tablesaw-priority-6");
    columns.Add(c => c)
       .Titled("Tools")
       .Encoded(false)
       .Filterable(false)
       .RenderedAs(c => MyHtmlHelpers.IconActionLink(Url.Action("Index", "rt_active_info", new { sessionName = c.SessionName }), "fas fa-file", "", "Open rt_active info for session", OpenNewWindow: true).ToHtmlString() +
                        ((c.ServiceName != "NOT FOUND") ? (
                        (c.ServiceStatus != "Running") ? MyHtmlHelpers.IconActionLink(Url.Action("SetServiceState", "c_service_setup", new { ServiceName = c.ServiceName, State = 1 }), "far fa-play-circle", "", "Start service", classes: "JQresultTriggerBtn").ToHtmlString() :
                        MyHtmlHelpers.IconActionLink(Url.Action("SetServiceState", "c_service_setup", new { ServiceName = c.ServiceName, State = 2 }), "far fa-stop-circle", "", "Stop service", classes: "text-danger JQresultTriggerBtn").ToHtmlString()
                        ) : "")
           );
}).Filterable().Sortable().Empty("Did not find anything").Css("table-hover tablesaw-on").RowCss(row => (row.ServiceStatus == "Running" && row.OKcontrollerCount != row.controllerCount) ? "ani_BlinkPink" : "")

<hr />

<div class="card card-body">
    <div id="sessiondetails"></div>
</div>

<hr />

<div class="card">
    <div class="alert alert-danger col-md-6">
        <strong>WARNING!</strong>
        if the option has a session _bit_MASK set to all(-1) this means its for
        <strong>ALL SESSIONS</strong>
    </div>
    <div class="card-body">
        <div id="c_service_setupDetails"></div>
    </div>
</div>


@section scripts{
    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //render details when they click on it.
        $('[data-name="c_service_setupSessionsGrid"]').mvcgrid({
        rowClicked: function (row, data, e) {
                if (e.target.tagName.toUpperCase() != 'TD') {
                    return;
                }
                $('tr').removeClass('bg-info');
                $(row).addClass("bg-info");

                $("#sessiondetails").html('@MyHtmlHelpers.Loading("sessiondetails")');
                $("#sessiondetails").load('@Url.Action("_sessionDetails")',{ sessionName : data["session-name"]},
                    function (responseText, textStatus, req) {
                        if (textStatus == "error") {
                            $("#sessiondetails").html($("#Error", responseText).html());
                        }
                    });

                $("#c_service_setupDetails").html('@MyHtmlHelpers.Loading("c_service_setupDetails")');
                $("#c_service_setupDetails").load( '@Url.Action("_sessionSetup")',{ enable_mask : data["bit_id"]},
                    function (responseText, textStatus, req) {
                        if (textStatus == "error") {
                            $("#c_service_setupDetails").html($("#Error", responseText).html());
                        }
                    });

            }
        });

        EnableInterfaceEvents();

        //add event to refresh button on grid
        $('#refresh').click(function () {
         $('[data-name="c_service_setupSessionsGrid"]').mvcgrid({reload: true});
        });

        //sim click on first row.
        $('[data-name="c_service_setupSessionsGrid"]>table>tbody>tr>td:first').trigger('click');
    </script>
}

