@model EqUiWebUi.Models.DiffQuery

@*set title*@
@{
    ViewBag.Title = "Query differ";
}

<div class="container body-content">
    <p></p>
    <p></p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Snapshot manager</h4>
        </div>

        <div class="panel-body">
            <div class="form-inline">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.Label("Snapshot", new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedQuery, new SelectList(Model.c_querySnapshots, "id", "name"), "select a snapshot", new { @class = "dropdown-toggle" })
                    <p></p>
                    @Html.Label("Compare",new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedSnapshotID1, new SelectList(string.Empty, "Value", "Text"), "Instance of snapshot")
                    <p></p>
                    @Html.Label("To",new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedSnapshotID2, new SelectList(string.Empty, "Value", "Text"), "Instance of snapshot")
                    <p></p>
                    <input type="submit" value="Show diff>>" />
                }
                <br />
            </div>
        </div>

        <div class="panel-footer">

        </div>
    </div>
</div>

@*script that fill hsnapshot listbox when users selects a c_snapshot instance*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#SelectedQuery").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getSnapshots")',
                dataType: 'json',
                data: { id: $("#SelectedQuery").val() },

                success: function (snapshots) {
                    console.log("hit");
                    $('#SelectedSnapshotID1').empty()
                    $.each(snapshots, function (i, item) {
                        $("#SelectedSnapshotID1").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });

                    $("#SelectedSnapshotID2").empty();
                    $.each(snapshots, function (i, item) {
                        $("#SelectedSnapshotID2").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });
                },

                error: function (ex) {
                    alert('Failed to retrieve snapshots.' + ex);
                }
            });
            return false;
        })
    });
</script>