@model EqUiWebUi.Models.DiffQuery

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Gridmvc.css" rel="stylesheet" />

@*set title*@
@{
    ViewBag.Title = "Query differ";
}
@*script that fill hsnapshot listbox when users selects a c_snapshot instance*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#SelectedQuery").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getSnapshots")',
                dataType: 'json',
                data: { id: $("#SelectedQuery").val() },

                success: function (snapshots) {
                    console.log("hit");
                    $('#SelectedSnapshotID1').empty()
                    $.each(snapshots, function (i, item) {
                        $("#SelectedSnapshotID1").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });

                    $("#SelectedSnapshotID2").empty();
                    $.each(snapshots, function (i, item) {
                        $("#SelectedSnapshotID2").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });
                },
          
                error: function (ex) {
                    alert('Failed to retrieve snapshots.' + ex);
                }
            });
            return false;
        })
    });
</script>

@*content *@
<br />
<div class="modal-content">
    <br />
    @using (Html.BeginForm())
    {
        @Html.Label("Snapshot")
        @Html.DropDownListFor(m => m.SelectedQuery, new SelectList(Model.c_querySnapshots, "id", "name"), "select a snapshot")
        @Html.Label("Compare")
        @Html.DropDownListFor(m => m.SelectedSnapshotID1, new SelectList(string.Empty, "Value", "Text"), "Instance of snapshot")
        @Html.Label("To")
        @Html.DropDownListFor(m => m.SelectedSnapshotID2, new SelectList(string.Empty, "Value", "Text"), "Instance of snapshot")
        <input type="submit" value="Show diff>>" />
    }
    <br />
</div>

