<div class="card">
    <div class="card-header bg-light">
        <h6 class="card-title">
            WeldgunTool for
            location: <strong>@ViewBag.location</strong>
            Tool_id: <strong>@ViewBag.tool_nr</strong>
            ElectrodeNo: <strong>@ViewBag.ElectrodeNo</strong>
            <a class="far fa-calendar-alt text-black-50" href="#" id="Datepicker"></a>
        </h6>
    </div>

    <div class="card-body">
        @*render ngac Nom/Ref wear virtual chart*@
        @if (ViewBag.NgacDummyAlarmobject != null)
        {
            @Html.Action("_GetControlChart","ControlChart", new { Area = "Alert",
                   chartname = "Dummyalert",
                   alarmobject = ViewBag.NgacDummyAlarmobject,
                   c_trigger_id = ViewBag.NgacDummyTriggerId,
                   startdate = ViewBag.daysback,
                   enddate = System.DateTime.Now
               })
            <hr />
        }

        @*render midair virtual chart*@
        @Html.Action("_GetControlChart","ControlChart", new { Area = "Alert",
                chartname = "Dummyalert",
                alarmobject = ViewBag.MidAirDummyAlarmobject,
                c_trigger_id = ViewBag.MidAircDummyTriggerId,
                startdate = ViewBag.daysback,
                enddate = System.DateTime.Now
            })
        <hr />
 

        @*render all real control charts (have real control limits)*@
        @foreach (EqUiWebUi.Areas.Alert.Models.l_controlLimits limit in ViewBag.controlLimits)
        {
            @Html.Action("_GetControlChart","ControlChart", new { Area = "Alert",
               chartname = "RealAlert",
               alarmobject = limit.alarmobject,
               c_trigger_id = limit.c_trigger_id,
               startdate = ViewBag.daysback,
               enddate = System.DateTime.Now
           })
            <hr />
        }
    </div>
</div>

<!--WeldgunToolScripts-->
<script>
    $('#Datepicker').daterangepicker({
        "showWeekNumbers": true,
        "showISOWeekNumbers": true,
        "ranges": {
            'Last 48 Hours': [moment().subtract(2, 'days'), moment()],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'Last 100 Days': [moment().subtract(100, 'days'), moment()],
            'Last Year': [moment().subtract(365, 'days'), moment()],
            'Last 5Year': [moment().subtract(365 * 5, 'days'), moment()]
        },
        "startDate": moment(),
        "endDate": moment().subtract(29, 'days'),

    }, function (end, start, label) {
        console.log("New date WeldgunTool range selected: " + start.format('YYYY-MM-DD') + " to " + end.format('YYYY-MM-DD') + " (predefined range: " + label + ")");
        //set all dateranges for all charts
        $("input[name=ControlchartendDate]").val(end);
        $("input[name=ControlchartstartDate]").val(start);
        //trigger refresh on all charts
        $(".ControlChartRefresh").trigger("click");
    });
</script>