<div>
    <h6>Alert status animations</h6>
    <table style="width:100%">
        <tr>
            <th>Alert Status</th>
            <th>RowStyle</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>WGK</td>
            <td class="@EqUiWebUi.Areas.Alert.AlertHelpers.getRowStyleStatus("WGK")"></td>
            <td>Alert is active and waiting for user action</td>
        </tr>
        <tr>
            <td>OKREQ</td>
            <td class="@EqUiWebUi.Areas.Alert.AlertHelpers.getRowStyleStatus("OKREQ")"></td>
            <td>Alert is active and has been accepted by user action</td>
        <tr>
            <td>COMP</td>
            <td class="@EqUiWebUi.Areas.Alert.AlertHelpers.getRowStyleStatus("COMP")"></td>
            <td>Alert is no longer active and completed (set by user)</td>
        </tr>
        <tr>
            <td>TECHCOMP</td>
            <td class="@EqUiWebUi.Areas.Alert.AlertHelpers.getRowStyleStatus("TECHCOMP")"></td>
            <td>Alert is no longer active and completed (set by server)</td>
        </tr>
    </table>
    <hr />
    <h6>Quick links</h6>
    <p>@MyHtmlHelpers.IconActionLink(Url.Action("Index", "c_triggers"), "far fa-bell", "Triggers list", "Page with all alert triggers")</p>
    <p>@MyHtmlHelpers.IconActionLink(Url.Action("Index", "L_controlLimits"), "fas fa-filter", "Control limits list", "Page with all control chart limits for the alert system")</p>
</div>

