<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VCG GA UB12 ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href='@Url.Action("Index", "Home",new { area = "" }, null)'>
                    <img src="~/Content/images/volvo-50.png" />
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li><a href="https://sharepoint.volvocars.net/sites/maintenance_a_shop/Lists/Whiteboard%20Issues/AllItems.aspx">Sharepoint</a></li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">VSTO toolkit <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=SBCUstats">WeldgunData</a></li>
                            <li class="divider"></li>
                            <li><a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=MaximoTool&Viewmode=vm_QualityOnLocation">Maximo PQAGEO</a></li>
                            <li><a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=MaximoTool&Viewmode=vm_workordersOnLocation">Maximo Workorders</a></li>
                            <li><a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=MaximoTool&Viewmode=vm_PartsOnLocation">Maximo Parts used</a></li>
                            <li class="divider"></li>
                            <li><a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=sleepBlock">Block autologoff</a></li>
                        </ul>
                    </li>

                </ul>

                <a class="nav navbar-text navbar-right" data-container="body" data-toggle="popover" data-placement="bottom" data-content="@User.Identity.Name">
                    <img src="~/Content/images/icons8-customer-25.png" />
                </a>

                <a href='@Url.Action("Settings", "Home")' class="nav navbar-text navbar-right">
                    <img src="~/Content/images/icons8-settings-25.png" />
                </a>
            </div>
        </div>
    </div>

    @*load this bundle before body because of scripts in views*@
    @Scripts.Render("~/bundles/jquery")

    <div class="container body-content" id="allcontent">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - VCG GA SDEBEUL ASP.NET Application</p>
    </footer>


    @Scripts.Render("~/bundles/MyScripts")
    <script>
        //subscrible renderd grids to events
        $('.mvc-grid').mvcgrid();
        //enable general interface stuff
        initInterface();
        //default no autfiding navbar
        $("#allcontent").animate({ "margin-top": "60px" }, "fast");
        $(".navbar-fixed-top").autoHidingNavbar();
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

