<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VCG GA UB12 ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href='@Url.Action("Index", "Home",new { area = "" }, null)'>
                    <img src="~/Content/images/volvo-50.png" />
                </a>

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shortcuts <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://sharepoint.volvocars.net/sites/maintenance_a_shop/Lists/Whiteboard%20Issues/AllItems.aspx">Sharepoint</a></li>
                            <li class="divider"></li>
                            <li><a href="https://mysite.volvocars.net/:o:/r/personal/ldebuck2_volvocars_com/Documents/Notebooks/9h%20meeting?d=w586803fbf1694a8da233cc3ea65a12c8&amp;e=5%3A23ae5acd21854d77941a15f2e5d04225">Onenote</a></li>
                        </ul>
                    </li>
                   
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">VSTO toolkit <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=SBCUstats">WeldgunData</a></li>
                            <li class="divider"></li>
                            <li><a href="http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=sleepBlock">Block autologoff</a></li>
                        </ul>
                    </li>

                </ul>

                <div class="nav pull-right">
                    <div class="cb_inline_block">
                        <a href='@Url.Action("Settings", "Home", new { area = "" }, null)' class="nav navbar-text">
                            <img src="~/Content/images/icons8-settings-25.png" />
                        </a>

                        <a class="nav navbar-text userhelp" data-container="body" data-toggle="popover" data-original-title="@User.Identity.Name">
                            <img src="~/Content/images/icons8-customer-25.png" />
                        </a>

                        <a id="fullscreenNav" class="glyphicon glyphicon-fullscreen" data-toggle="tooltip" data-placement="left" title="Go fullscreen"></a>

                    </div>
                </div>

            </div>
        </div>

    </div>

    @*load this bundle before body because of scripts in views*@
    @Scripts.Render("~/bundles/jquery")
    <!--Body content -->
    <div class="container body-content" id="allcontent">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/MyScripts")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        //subscrible renderd grids to events
        $('.mvc-grid').mvcgrid();
        //enable general interface stuff
        initInterface();
        //navbar
        $("#allcontent").animate({ "margin-top": "60px" }, "fast");
        $(".navbar-fixed-top").autoHidingNavbar();
        //for user popover
        $(".userhelp").popover({
            placement: "left",
            html: true,
            content: function () {
            var output = '';
            $.ajax(
                {
                    url:'@Url.Action("_Details", "user", new { area = "user_management" },null)',
                    async: false,
                    success: function (response) {
                    output = response;
                        }
                    });
                return output;
                },
        })
        //for fullscreen mode
        $("#fullscreenNav").click(function () {
            $("#allcontent").removeClass("body-content");
            $("#allcontent").removeClass("container");

            $(".navbar-fixed-top").autoHidingNavbar('setDisableAutohide',true); //disable autohide
            $(".navbar-fixed-top").autoHidingNavbar('hide'); //hide navbar

            $("#allcontent").animate({ "margin-top": "0px" }, "fast");
            $("#fullscreenBody").removeClass("hidden");
            $("#footer").addClass("hidden");
        });
        //out of full screen mode
        $("#fullscreenBody").click(function () {
            $("#allcontent").addClass("body-content");
            $("#allcontent").addClass("container");

            $(".navbar-fixed-top").autoHidingNavbar('setDisableAutohide', false); //enable autohide
            $(".navbar-fixed-top").autoHidingNavbar('show'); //show navbar

            $("#allcontent").animate({ "margin-top": "60px" }, "fast");
            $("#fullscreenBody").addClass("hidden");
            $("#footer").removeClass("hidden");
        });

        //if fullscreen request in url do it.
        if (qs("GoFullScreen")) {
            console.log("auto Full screen");
            $("#fullscreenNav").trigger("click");
        }

        //if zoomlevel request in url do it.
        if (qs("Zoomlevel")) {
            console.log("Set zoom level");
            //this works for Chrome, Safari, IE ref:http://jsfiddle.net/q6kebgbh/4/
            $("#allcontent").css('zoom', qs("Zoomlevel"));
        }

        //enable tooltips everywhere
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("scripts", required: false)
    @RenderSection("partials", required: false)

    <hr />
    <!--footer-->
    <footer id="footer">
        <p>&copy; @DateTime.Now.Year - VCG GA SDEBEUL ASP.NET Application</p>
    </footer>
    @*when navbar is hidden this is visble*@
    <div class="pull-right">
        <a id="fullscreenBody" class="glyphicon glyphicon-fullscreen hidden" data-toggle="tooltip" data-placement="left" title="Exit fullscreen"></a>
    </div>


</body>
</html>

