<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EQUI</title>
    <!--Styles (pre body)--> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md py-0 bg-dark navbar-dark fixed-top" id="navbar">
        <!-- Brand -->
        <a class="navbar-brand py-0" href='@Url.Action("Index", "Home", new { area = "" }, null)'>
            <img src="~/Content/images/volvo-50.png" />
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapse part -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Toolkit
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="http://gensvw1178.gen.volvocars.net/EqUi_UtilManager/EqUi_UtilManger.application?Tool=SBCUstats">WeldgunData</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <a href="http://gensvw1178.gen.volvocars.net/EqUi_DigibordLauncher/EqUiDigibordLauncher.application">Start DigiboardLauncher</a>
                            <a href="@Url.Action("ShowWiki", "Wikis", new { area = "", id = 4 }, null)"><i class="fas fa-question-circle text-primary"></i></a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <a href="https://sway.com/csCS9cdjEpcpPhw0?ref=Link">VSTO Excel (Manual)</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="\\gnlsnm0101.gen.volvocars.net\proj\6308-SHR-VCC22700\VSTO\DEPLOYMENTBASE\ExcelAddInEquipmentDatabase.vsto">VSTO Excel (install)</a>
                            <a href="@Url.Action("ShowWiki", "Wikis", new { area = "", id = 5 }, null)"><i class="fas fa-question-circle text-primary"></i></a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <a href="https://sway.com/5uelU8Pra3GK1N9i">Tableau Manual</a>
                        </li>
                    </ul>
                </li>

            </ul>

            <!-- pull right part -->
            <div class="navbar-nav ml-auto">
                <div class=" nav-item">
                    <a class="far fa-id-badge fa-2x text-white fa-2x userhelp" data-container="body" data-toggle="popover" data-original-title="@User.Identity.Name"></a>

                    <a href="#"><span style="padding-left:20px" class=""></span></a>

                    <a class="fas fa-cog fa-2x text-danger" href='@Url.Action("Settings", "Home", new { area = "" }, null)' data-toggle="tooltip" title="admin area"></a>

                    <a href="#"><span style="padding-left:20px" class=""></span></a>

                    <a class="fas fa-arrows-alt text-white" id="fullscreenNav" data-toggle="tooltip" data-placement="left" title="Go fullscreen"></a>

                </div>
            </div>

        </div>

    </nav>

    <!--Script (prebody)-->
    @Scripts.Render("~/bundles/mainjavabundel")

    <!--Body content -->
    <div class="container body-content" id="allcontent">
        @RenderBody()
    </div>
    <!--footer-->
    <hr />
    <footer id="footer">
        <p>VCG GA SDEBEUL Application</p>
    </footer>
    @*when navbar is hidden this is visble*@
    <div class="pull-right">
        <a class="fas fa-arrows-alt text-black-50 d-none" id="fullscreenBody" data-toggle="tooltip" data-placement="left" title="Exit fullscreen"></a>
    </div>

    <!--Scripts (postbody)-->
    @Scripts.Render("~/bundles/MyScripts")
    <!--Main layout init-->
    <script>
        initInterface();
    </script>

    @*start render script sections in vieuws*@
    @RenderSection("scripts", required: false)
    @RenderSection("partials", required: false)


</body>
</html>

