<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EQUI</title>
    <!--Styles (pre body)-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md py-0 bg-dark navbar-dark fixed-top" id="navbar">
        <!--back button-->
        <a class="far fa-arrow-alt-circle-left fa-2x text-white py-0 clickable" data-toggle="tooltip" title="Go back" onclick="window.history.back();"></a>
        <!-- Brand -->
        <a class="navbar-brand py-0 clickable" href='@Url.Action("Index", "Home", new { area = "" }, null)' data-toggle="tooltip" title="Homepage">
            <img src="~/Content/images/volvo-50.png" />
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapse part -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Toolkit
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><h3>Available tools</h3> </li>
                        @if (System.Configuration.ConfigurationManager.AppSettings["Maximo_SiteID"].ToString() == "VCG")
                        {
                            <li class="dropdown-item">
                                @MyHtmlHelpers.EquiLink(@Url.Action("WeldgunTool", "Electrode", new { area = "Tiplife" }, null), "fas fa-toolbox", "WeldgunTool", helperText: "View data and control charts")
                            </li>
                        }
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <div class="badge badge-info">
                                <h6>Following tools use Microsoft Click once deployment!</h6>
                            </div>
                            <p>@MyHtmlHelpers.EquiLink("https://chrome.google.com/webstore/detail/clickonce-for-google-chro/kekahkplibinaibelipdcikofmedafmb", "fab fa-chrome", "ClickOnce for Google Chrome", helperText: "Needed to launch click once tools in the chrome browser.")
                        </li>
                        <li class="dropdown-divider"></li>
                        @if (System.Configuration.ConfigurationManager.AppSettings["Maximo_SiteID"].ToString() == "VCG")
                        {
                            <li class="dropdown-item">
                                @MyHtmlHelpers.EquiLink("http://gensvw1178.gen.volvocars.net/EqUi_DigibordLauncher/EqUiDigibordLauncher.application", "fas fa-desktop", "DigiboardLauncher", helperText: "Startup tool for kiosks", helpurl: @Url.Action("_Getwiki", "Wiki", new { area = "", id = "DigibordLauncher" }, null))
                            </li>

                            <li class="dropdown-item">
                                @MyHtmlHelpers.EquiLink("file:////gnlsnm0101.gen.volvocars.net/proj/6308-SHR-VCC22700/VSTO/DEPLOYMENTBASE/ExcelAddInEquipmentDatabase.vsto", "fas fa-file-excel", "VSTO Excel (install)", helperText: "Excel ribbon plug-in to access the database (installation file)", helpurl: @Url.Action("_Getwiki", "Wiki", new { area = "", id = "VSTO" }, null))
                            </li>
                        }
                        @if (System.Configuration.ConfigurationManager.AppSettings["Maximo_SiteID"].ToString() == "VCCH")
                        {
                            <li class="dropdown-item">
                                @MyHtmlHelpers.EquiLink("file:////gnlsnm0101.gen.volvocars.net/proj/6308-SHR-VCC22700/VSTO/DEPLOYMENTBASE_VCCH/ExcelAddInEquipmentDatabase.vsto", "fas fa-file-excel", "VSTO Excel (install)", helperText: "Excel plug-in to access the database *Download can be slow package is hosted in Ghent", helpurl: @Url.Action("_Getwiki", "Wiki", new { area = "", id = "VSTO" }, null))
                            </li>
                            <li class="dropdown-item">
                                <p>\\gnlsnm0101.gen.volvocars.net\PROJ\6308-SHR-VCC22700\VSTO\DEPLOYMENTBASE_VCCH</p>
                            </li>
                        }
                    </ul>
                </li>

            </ul>

            <!-- pull right part -->
            <div class="navbar-nav ml-auto">
                <div class=" nav-item">
                    <a class="far fa-id-badge fa-2x text-white fa-2x clickable MyPopovers" data-container="body" data-toggle="popover" data-original-title="@User.Identity.Name" href="/user_management/user/_Details"></a>

                    <a href="#"><span style="padding-left:20px" class=""></span></a>

                    <a class="fas fa-cog fa-2x text-white-50 clickable" href='@Url.Action("Settings", "Home", new { area = "" }, null)' data-toggle="tooltip" title="admin area"></a>

                    <a href="#"><span style="padding-left:20px" class=""></span></a>

                    <a class="fas fa-arrows-alt fa-2x text-white-50 clickable" id="fullscreenNav" data-toggle="tooltip" data-placement="left" title="Go fullscreen"></a>

                </div>
            </div>

        </div>

    </nav>

    <!--Script (prebody)-->
    @Scripts.Render("~/bundles/mainjavabundel")

    <!--Body content -->
    <div class="container body-content" id="allcontent">
        @RenderBody()
    </div>
    <!--footer-->
    <hr />
    <footer id="footer">
   
    </footer>
    @*when navbar is hidden this is visble*@
    <div class="pull-right">
        <a class="fas fa-arrows-alt text-black-50 d-none" id="fullscreenBody" data-toggle="tooltip" data-placement="left" title="Exit fullscreen"></a>
    </div>

    <!--Scripts (postbody)-->
    @Scripts.Render("~/bundles/MyScripts")
    <!--Main layout init-->
    <script>
        initInterface();
    </script>

    @*start render script sections in vieuws*@
    @RenderSection("scripts", required: false)
    @RenderSection("partials", required: false)


</body>
</html>

