@{Layout = null;}

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">How can we help....</h2>
        </div>


        <p></p>
        <div class="modal-content">
            <h4 class="modal-header">log details</h4>
            @Html.Raw(ViewBag.Logdetails)
        </div>
        <p></p>
      
        <div class="modal-footer">
            <h4 class="modal-title">These tools might proof useful</h4>                    
            <p>
                @{
                    var urlSbcu = string.Format(
                        "http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=SBCUstats&target={0}",
                        @Uri.EscapeDataString(ViewBag.location.ToString()));
                }
                <a href="@urlSbcu" class="btn btn-primary btn-sm"
                    data-toggle="tooltip" title="Data ivm SBCU midair lastang cilinder en dress" 
                   >WeldgunData &raquo;</a>
                
                @{
                    var urlPqaGeo = string.Format(
                        "http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=MaximoTool&Viewmode={0}&target={1}",
                        @Uri.EscapeDataString("vm_QualityOnLocation"),
                        @Uri.EscapeDataString(ViewBag.location.ToString()));
                }
                <a href="@urlPqaGeo" class="btn btn-primary btn-sm">PQaGeo &raquo;</a>

                @{
                    var urlWo = string.Format(
                        "http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=MaximoTool&Viewmode={0}&target={1}",
                        @Uri.EscapeDataString("vm_workordersOnLocation"),
                        @Uri.EscapeDataString(ViewBag.location.ToString()));
                }
                <a href="@urlWo" class="btn btn-primary btn-sm">Workorders &raquo;</a>

                @{
                    var urlParts = string.Format(
                        "http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=MaximoTool&Viewmode={0}&target={1}",
                        @Uri.EscapeDataString("vm_PartsOnLocation"),
                        @Uri.EscapeDataString(ViewBag.location.ToString()));
                }
                <a href="@urlParts" class="btn btn-primary btn-sm">PartsUsed &raquo;</a>

                @{
                    var urlErrorstats = string.Format(
                        "http://equi/EqUi_UtilManager/EqUi_UtilManger.application?Tool=ERRORstats&target={0}&Logtype={1}&Errornum={2}&logtext={3}",
                        @Uri.EscapeDataString(ViewBag.location.ToString()),
                        @Uri.EscapeDataString(ViewBag.logtype.ToString()),
                        @Uri.EscapeDataString(ViewBag.errornum.ToString()),
                        @Uri.EscapeDataString(ViewBag.logtext.ToString())
                        );
                }
                <a href="@urlErrorstats" class="btn btn-primary btn-sm">ErrorStats &raquo;</a>
            </p>
        </div>