@model IQueryable<EqUiWebUi.Models.c_housekeeping>

@{
    ViewBag.Title = "Index c_housekeeping";
}

<h2>Index c_housekeeping</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Named("c_housekeepingGrid").Build(columns =>
{
    columns.Add(c => c.id).Titled("id").InitialSort(GridSortOrder.Asc);
    columns.Add(c => c.c_schedule.name).Titled("scheduleName");
    columns.Add(c => c.Name).Titled("NameSimple").Css("editTestCollumSimple"); //simple sample
    columns.Add(c => "<div id="+c.id+">" + c.Name).Encoded(false).Titled("NameFull").Css("editTestCollumFull"); //full code sample
    columns.Add(c => c.SchemaName).Titled("SchemaName");
    columns.Add(c => c.TableName).Titled("TableName");
    columns.Add(c => c.nDaysKeepHistory).Titled("KeepDays");
    columns.Add(c => c)
                    .Titled("")
                    .Encoded(false)
                    .RenderedAs(c => MyFilters.IconActionLink(Url.Action("Edit", new { id = c.id }), "fas fa-pencil-alt", "", "Edit this") + " | " +
                                 MyFilters.IconActionLink(Url.Action("Delete", new { id = c.id }), "fas fa-trash-alt", "", "Delete this")
                    ).Filterable(false);
}).Filterable().Sortable().Pageable(pager =>
{
    pager.RowsPerPage = 10;
}).Empty("Did not find anything").Css("table-hover")



@section scripts{
    <script src="~/node_modules/jquery-jeditable/dist/jquery.jeditable.min.js"></script>

    <script>
        //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

        //subscribe to row clicked events
        $('[data-name="c_housekeepingGrid"]').mvcgrid({
            rowClicked: function (row, data, e) {
                return;


                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="1000"><div class="card border-info"><div class="card-body" id ="placeholderPartial"></div></div></td></tr>');
                //animation
                $("#placeholderPartial").html("<i class='fas fa-spinner fa-spin fa-2x'></i>");
                //load url in placeholder
                var url = "@Url.Action("_L_housekeeping")?id=" + data["id"];
                $("#placeholderPartial").load(url);
            }
        });

        //test with Jeditable for in place table editable
        //https://github.com/NicolasCARPi/jquery_jeditable/
        //Sample code 
        https://jeditable.elabftw.net/

        //simple sample basic
        $('.editTestCollumSimple').editable('@Url.Action("UpdateLabel")');

        //full sample
        $('.editTestCollumFull').editable('@Url.Action("UpdateLabel")', {
            cssclass: 'jeditForm',
            tooltip: 'click to edit me...',
            width: 'none',
            height: 'none',
            submit: 'Ok', //Here!
            onsubmit: function (settings, original) {
                oldValue = original.revert;
            },
            submitdata: function () {
                console.log($(this));
                return {
                    id: $(this).data('id'),
                    PropertyName: $(this).data('propertyname')
                }
            },
            callback: function (value, settings) {
                var jsonData = $.parseJSON(value);
                if (jsonData.status) {
                    $(this).text(jsonData.value);
                }
                else {
                    $(this).text(oldValue);
                }
            }
        })
    </script>
}
