
<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            EQUI site setup
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <h4>Database connections</h4>
        @MyHtmlHelpers.EquiLink("/c_datasource/index", "fas fa-database", "Database connections", helperText: "Manage database connections for jobmanager (ie: Alerts / background jobs) NOT the same as web.config connectionsstrings")
        <hr />
        <h4>Data collectors</h4>
        @MyHtmlHelpers.EquiLink("/vasc/vasc/index", "fas fa-server", "VASC setup", helperText: "Manage configuration for Volvo ABB service center")
        @MyHtmlHelpers.EquiLink("/vwsc/vwsc/index", "fas fa-server", "VWSC setup", helperText: "Manage configuration for Volvo Welding service center")
        <hr />
        <h4>Data classification system</h4>
        @MyHtmlHelpers.EquiLink("/Classification/ClassificationTool", "fas fa-random", "Classification tool", helperText: "Tool for classification of data (put data in a 'class' and 'subgroup' manualiy or by makeing classification rules)")
        <p>@MyFilters.IconActionLink("/c_logclasssystem/Index", "fas fa-cogs", "Classification systems", "Manage classification systems")</p>
        <p>@MyFilters.IconActionLink("/c_LogclassRules/Index", "fas fa-list-ul", "Classification rules", "Manage classification rules")</p>
        <p>@MyFilters.IconActionLink("/c_Classification/Index", "fas fa-list-ul", "Classes", "Manage classification 'classes'")</p>
        <p>@MyFilters.IconActionLink("/c_Subgroup/Index", "fas fa-list-ul", "Subgroups", "Manage classification 'subgroups'")</p>
    </div>
</div>

