@model EqUiWebUi.Models.LogInfo

<div class="">

    <div class="alert">
        <h4>Information about <a class="glyphicon glyphicon-new-window pull-left" href='@Url.Action("MoreInfo","Table",Model)'></a></h4>
        <div class="row">
           
            <div class="col-sm-11">
                Logtype: <strong>@Model.logtype</strong> for location: <strong>@Model.location</strong>
                <div class="text-muted">
                    Logcode: <strong>@Model.errornum</strong> Logtext: <strong>@Model.logtext.Trim()</strong> 
                </div>

            </div>

            <div class="col-sm-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

        </div>
    </div>
</div>

<div class="modal-body">
    @Html.Partial("../Chart/_getErrorTrend", Model)

    @*if the logtype is an alert it is redirected to the alert area.
        all other logtypes are run via equi.GetErrorInfoData*@
    @if (Model.logtype == "ALERT")
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Details for Alert: <strong>@Model.refid</strong> Info: <strong>@Model.logtext.Trim()</strong>
                    @MyFilters.IconActionLink(Url.Action("Edit", "Alert", new { area = "Alert", id = Model.refid }), "glyphicon glyphicon-pencil", "", "Edit this alert")
                </h4>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                @Html.Action("_Details", "Alert", new { area = "Alert", id = Model.refid })
            </div>
        </div>
    }
    else
    {
        @Html.Action("_loginfo", Model)
    }

    @Html.Action("_workordersOnLocation", "Workorder", new { area = "Maximo_ui", location = Model.location })

</div>

<div class="modal-footer">
    @if (Model.logtype == "BREAKDOWN")
    {
        @Html.ActionLink("JobDetails", "rtJob", "Breakdown", new { area = "VASC", jobID = Model.refid }, new { @class = "btn btn-primary btn-sm" })
    }
</div>
