
@{
    ViewBag.Title = "VASC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VASC</h2>

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            VASC MAIN settings
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                @MyHtmlHelpers.EquiLink("/vasc/c_service_setup/index", "", "c_service_setup", helperText: "Add/Edit service setup")
            </div>
            <div class="alert alert-info col-7 text-secondary">
                *Here we can setup/view different sessions of VASC<br />
                *View L_operation log for a session <br />
                *Change session settings<br />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-5">
                @MyHtmlHelpers.EquiLink("/vasc/c_controller_class/index", "", "c_controller_class", helperText: "Add/Edit controller class")
            </div>
            <div class="alert alert-info col-7 text-secondary">
                *A controller class sets what is done for a certain 'type' of robot<br />
                *You can add groups of items that are defined in one of the VASC subsystems<br />
                *a subsystem is ie: variable logs, csv file, device info<br />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-5">
                @MyHtmlHelpers.EquiLink("/vasc/c_controller/index", "", "c_controller", helperText: "Add/Edit robots")
            </div>
            <div class="alert alert-info col-7 text-secondary">
                *set the controller CLASS for robots connected to VASC<br />
                *Set the what VASC SESSION controls the robot<br />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-6">
                @MyHtmlHelpers.EquiLink("/vasc/rt_active_info/index", "", "rt_active_info", helperText: "Current connection status for a controller")
            </div>
            <div class="col-6">
                @MyHtmlHelpers.EquiLink("/vasc/rt_active_info/index?ShowNOKonly=true", "", "NOK robots only", helperText: "Controllers that are not connected now", iconClasses: "bg-warning")
            </div>
        </div>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            VASC subsystems
            <span class="clickable float-right fa-rotate-180"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <div class="card-body" style="display:none">
        <div class="alert alert-info">
            <strong>Add/Edit csv files to be logged</strong>
        </div>
        <p><a href="~/vasc/c_csv_log/index" class="btn btn-danger btn-sm">c_csv_log &raquo;</a></p>

        <div class="alert alert-info">
            <strong>Edit c_device_info to be logged</strong>
        </div>
        <p><a href="~/vasc/c_device_info/index" class="btn btn-danger btn-sm">c_device_info &raquo;</a></p>

        <div class="alert alert-info">
            <strong>Add/Edit variables/IO to be logged</strong>
        </div>
        <p><a href="~/vasc/c_variable/index" class="btn btn-danger btn-sm">c_variable &raquo;</a></p>

        <div class="alert alert-info">
            <strong>Add/Edit variables to be first searched for and than logged</strong>
        </div>
        <p><a href="~/vasc/c_variable_search/index" class="btn btn-danger btn-sm">c_variable_search &raquo;</a></p>

        <div class="alert alert-info">
            <strong>Add/Edit/Remove ignore/log rules for stupid faults we don't whant in the system.</strong>
        </div>
        <p><a href="~/vasc/c_error/index" class="btn btn-danger btn-sm">c_error &raquo;</a></p>

        <hr />
        <h3>TODO</h3>
        <p><a href="~/vasc/c_job/index" class="btn btn-danger btn-sm">c_job &raquo;</a>Manage c_job</p>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header bg-dark">
        <h5 class="card-title text-white">
            VASC Front end data
            <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
        </h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-6">
                @MyHtmlHelpers.EquiLink("/vasc/rt_active_info/index", "", "rt_active_info", helperText: "Current connection status for a controller")
            </div>
            <div class="col-6">
                @MyHtmlHelpers.EquiLink("/VASC/Breakdown/GetJobs?hasBreakdowns=true", "fas fa-vial", "RtjobBreakdown", helperText: "List of working cycles with a breakdown", iconClasses: "bg-warning")
            </div>
        </div>


    </div>
</div>