@model EqUiWebUi.Models.c_LogClassRules

<div class="">
    <div class="card-header bg-warning">
        <h5 class="card-title text-black-50">
            ClassificationTool
        </h5>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="card">
                <div class="card-header bg-primary">
                    <h5 class="card-title text-white">
                        Search in logs
                        <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
                    </h5>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.c_logClassSystem_id, "c_logClassSystem_id", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("c_logClassSystem_id", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.coderangeStart, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.coderangeStart, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.coderangeEnd, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.coderangeEnd, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.textSearch, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.textSearch, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-info" id="btnSearch">Search for logs</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="card">
                <div class="card-header bg-danger">
                    <h5 class="card-title text-white">
                        Power functions(DANGEROUS)
                        <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-rotate-180 fa-1"></i></span>
                    </h5>
                </div>
                <div class="card-body" style="display:none">
                    <div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" id="btnSetALLClassSubgroup">Set</button>
                                Set al that match current Query result
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-danger" id="btnClearALLClassSubgroup">Clear</button>
                                CELAR al that match current Query result
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr />

            <div class="card">
                <div class="card-header bg-primary">
                    <h5 class="card-title text-white">
                        Search by Class and Subgroup
                        <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.c_ClassificationId, "c_ClassificationId", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.DropDownList("c_ClassificationId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "--Select class--")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.c_SubgroupId, "c_SubgroupId", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.DropDownList("c_SubgroupId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "--Select subgroup--")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-info" id="btnFindAllinGroup">Search for all logs in group</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-info" id="btnGetRules">Search for all rules in group</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="card">
            <div class="card-header bg-warning">
                <h5 class="card-title text-white">
                    Result
                    <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
                </h5>
            </div>
            <div class="card-body">
                <div id="dummyLogClassResultGrid" class="mvc-grid"></div>
            </div>
        </div>

        <hr />

        <div class="card">
            <div class="card-header bg-primary">
                <h5 class="card-title text-white">
                    Classifcation rules
                    <span class="clickable float-right"><i class="fas fa-chevron-circle-up fa-1"></i></span>
                </h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-info" id="btnAddRule">Add rule</button>
                    </div>
                </div>

                <div id="c_LogClassRulesGrid" class="mvc-grid"></div>

                <div>Grid row dropdown option. Clear rule / delete rule / Remove rule. / Run rule / run rule with override manual set</div>

            </div>
        </div>
    </div>
</div>


@*Hidden html for loading into Result grid*@
<div id="ResultGridOptions" class="d-none">
    <div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success" id="btnSetSingleClassSubgroup">Set</button>
                Set single row
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-danger" id="btnClearSingleClassSubgroup">Clear</button>
                Clear single row
            </div>
        </div>

    </div>
</div>


@section scripts{
    <!--ClassificationTool script-->
<script>
    //full with screen
        $("#allcontent").removeClass("body-content");
        $("#allcontent").removeClass("container");

    //function to reload search grid
        function GetGridSearch(bSearchByClassification) {
            $("#dummyLogClassResultGrid").mvcgrid({
                sourceUrl: '@Url.Action("_logSearchResult")',
                data: {
                    c_logClassSystem_id: $('#c_logClassSystem_id').val(),
                    coderangeStart: $('#coderangeStart').val(),
                    coderangeEnd: $('#coderangeEnd').val(),
                    textSearch: $('#textSearch').val(),
                    c_ClassificationId: $('#c_ClassificationId').val(),
                    c_SubgroupId: $('#c_SubgroupId').val(),
                    SearchByClassification: bSearchByClassification

                },
                requestType: 'get',
                reload: true,
                rowClicked: function (row, data, e) {
                //if row already has this clase close the modal
                if ($(row).hasClass("bg-info")) {
                    $("#placeholder").remove();
                    $(row).removeClass("bg-info");
                    return;
                }
                //clear selected rows for this table
                $('tr').removeClass('bg-info'); //THIS IS WRONG
                $(row).addClass("bg-info");
                $("#placeholder").remove(); //clear placeholder is exists
                //add new placeholder afhter selected row
                $(row).after('<tr id="placeholder"><td colspan="10000"><div class=""><div class="" id ="placeholderPartial"></div></div></td></tr>');
                //load partial into div
                $("#placeholderPartial").html($("#ResultGridOptions").html());
                //listen toclick events
                    //set a single Row
                    $('#btnSetSingleClassSubgroup').click(function () {
                        SetClass(data.id, false);
                    });

                    //Clear a single Row
                    $('#btnClearSingleClassSubgroup').click(function () {
                        SetClass(data.id, true);
                    });
                //
                },
                reloadStarted: function () {

                },
                reloadEnded: function () {

                },
                reloadFailed: function (result) {
                    $('#dummyLogClassResultGrid').html("Error while loading!!!");
                }
            });
        }

    //handle search. (by range and logtext)
        $("#btnSearch").click(function () {
            GetGridSearch(false);
        });
    //handle search (all in selecte subgroup and class)
        $('#btnFindAllinGroup').click(function () {
            GetGridSearch(true);
        });

    //get logclassRulesGrid
        function GetRules() {
            $("#c_LogClassRulesGrid").mvcgrid({
                sourceUrl: '@Url.Action("_GetLogClassRulesGrid", "c_logClassRules")',
                data: {
                    c_ClassificationId: $('#c_ClassificationId').val(),
                    c_SubgroupId: $('#c_SubgroupId').val(),
                    c_logClassSystem_id: $('#c_logClassSystem_id').val()
                },
                requestType: 'get',
                reload: true,
                reloadStarted: function () {

                },
                reloadEnded: function () {

                },
                reloadFailed: function (result) {
                    $('#c_LogClassRulesGrid').html("Error while loading!!!");
                }
            });
        }
     //hanlde get rules
        $('#btnGetRules').click(function () {
         GetRules();
       });


    //Section for setting and clearing of classifcation
        function SetClass(rowID, Clear) {
            $.toaster({ title: 'SetClass', priority: 'info', message: 'Fired: SetClass' });
            $.ajax({
                type: "GET",
                url: '@Url.Action("SetClass")',
                data: {
                    c_logClassSystem_id: $('#c_logClassSystem_id').val(),
                    coderangeStart: $('#coderangeStart').val(),
                    coderangeEnd: $('#coderangeEnd').val(),
                    textSearch: $('#textSearch').val(),
                    c_ClassificationId: $('#c_ClassificationId').val(),
                    c_SubgroupId: $('#c_SubgroupId').val(),
                    RowID: rowID,
                    Clear: Clear
                },
                success: function (result) {
                    $.toaster({ title: 'SetClass', priority: 'success', message: result.Msg });
                    //reload the grid
                    GetGridSearch(false);
                },
                error: function (result) {
                    console.log(result);
                    $.toaster({ title: 'SetClass', priority: 'danger', message: result.statusCode });
                    //reload the grid
                    GetGridSearch(false);
                }
            });
        }

    //listen toclick events
    //set a single Row
    $('#btnSetALLClassSubgroup').click(function () {
        SetClass(0, false);
    });

    //Clear a single Row
    $('#btnClearALLClassSubgroup').click(function () {
        SetClass(0, true);
    });

    //refresh grids system changes
    $('#c_logClassSystem_id').on('change', function () {
        //reload the grids
        GetGridSearch(false);
        GetRules();
    });

    //at end of script run the grids (init)
    GetGridSearch(false);
    GetRules();
</script>
}
