@model EqUiWebUi.Areas.HangfireArea.Controllers.Job
@{
    ViewBag.Title = "MakeJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MakeJob</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            @Html.HelpTextFor(model => model.name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.command, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="panel" style="border:ridge">
                <textarea id="command" name="command">--type your sql command here</textarea>
            </div>
            @Html.ValidationMessageFor(model => model.command, "", new { @class = "text-danger" })
            @Html.HelpTextFor(model => model.command)
            <div class="col-md-10">
                <button class="btn-sm btn-primary">Check statement</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cron, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div id="jCron"></div>
            <p></p>
            <div>
                <input class="form-control text-box single-line" id="cron" name="cron" type="text" value="">
            </div>
            @Html.ValidationMessageFor(model => model.cron, "", new { @class = "text-danger" })
            @Html.HelpTextFor(model => model.cron)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.maxExectime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.maxExectime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.maxExectime, "", new { @class = "text-danger" })
            @Html.HelpTextFor(model => model.maxExectime)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.maxRetry, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.maxRetry, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.maxRetry, "", new { @class = "text-danger" })
            @Html.HelpTextFor(model => model.maxRetry)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}



@section scripts{
    @*http://codemirror.net/doc/manual.html*@
    <script src="~/Scripts/Codemirror/codemirror.js"></script>
    <link href="~/Content/codemirror/codemirror.css" rel="stylesheet" />
    <link href="~/Content/codemirror/neat.css" rel="stylesheet" />
    <script src="~/Scripts/Codemirror/mode/sql.js"></script>

    @*http://shawnchin.github.io/jquery-cron/*@
    <link href="~/Content/jquery-cron.css" rel="stylesheet" />
    <link href="~/Scripts/gentleSelect/jquery-gentleSelect.css" rel="stylesheet" />
    <script src="~/Scripts/gentleSelect/jquery-gentleSelect.js"></script>
    <script src="~/Scripts/jquery-cron.js"></script>

    <script>
        var sqlCodeMirror = CodeMirror.fromTextArea(document.getElementById("command"), {
            lineNumbers: true,
            mode: "sql",
            theme: "neat"
        });

        $('#jCron').cron({
            onChange: function () {
                $('#cron').val($(this).cron("value"));
            }
        });
    </script>
}
