@model EqUiWebUi.Areas.VASC.Models.c_variable_search

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>c_variable_search</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.variable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.variable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.variable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.property, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Must be multiselect ! 
                @Html.EnumDropDownListFor(model => model._SymbolTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.property, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Where do i find the datatype enum in the SDK ? 
            @Html.LabelFor(model => model.datatype, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datatype, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datatype, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poll_rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model._Poll_Rate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.poll_rate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.enable_bit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model._Enable_bit, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.enable_bit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.insert_update, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model._Insert_update, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.insert_update, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rt_table, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rt_table, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rt_table, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
