@*set title*@
@{
    ViewBag.Title = "PloegRapport";
}

<div>
    <p></p>
    <p></p>
    <div>
        @Html.AjaxGrid(Url.Action("_ploegRapport"))
    </div>

    <div class="panel-footer">
        @MyFilters.LocationDropdownBrownfield("PloegRapport", "/Gadata/PloegRapportWebgrid")
        <p class="pull-right" id="Refreshinfo"> Last data push: ?????</p>
    </div>
</div>

@*render popuover modal*@
<div>
    @MyModals.tableHelperModal("tableModal")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //subscribe to modal click
        ListenToModal('#tableModal');
        //enable polling for new data
        CheckRefreshTable(5, '@Url.Action("PloegRapportcheckNewData")', '@Url.Action("_ploegRapport")', '#PloegRapport');
        //hide the navbar and move body content up
        Navbar(false);
        //subscribe to row clicked events
        $('#PloegRapport').mvcgrid({
            rowClicked: function (row, data, e) {
                console.log("row click:") & console.log(data);
            }
        });
    });
</script>
