@model IEnumerable<EqUiWebUi.Models.AAOSR_PloegRaportV2_Result>

@using GridMvc.Html

@*Remove default layout*@
@{
    Layout = null;
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

@*script for setting row colors based on there values*@
<script type="text/javascript">
    $(document).ready(function () {
        $('tbody > tr').each(function (index) {
            if ($(this).children('td:nth-child(8)').text() == "SHIFTBOOK")
            { $(this).children('td').css("background-color", "#d6d613"); }

            else if ($(this).children('td:nth-child(8)').text() == "WARNING")
            { $(this).children('td').css("background-color", "#127bf1"); }

            else if ($(this).children('td:nth-child(8)').text() == "LIVE")
            { $(this).children('td').css("background-color", "#f21a1a"); }

            else if ($(this).children('td:nth-child(8)').text() == "BREAKDOWN")
            { $(this).children('td').css("background-color", "#f2af13"); }

            else if ($(this).children('td:nth-child(8)').text() == "TIMELINE")
            { $(this).children('td').css("background-color", "#16dd76"); }

            else
            { }
        });
    });
</script>

@*function that calls server ever x time if there is new data*@
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            //check every 5 seconds
            setInterval(CheckForData, 1000 * 5 );
        });
        //get last data timestamp from model
        var Datatimestamp = '@Html.Raw(ViewBag.DataTimestamp)';
        console.log(Datatimestamp);
        //interlock for ajax request
        var bInterlock = new Boolean();
        bInterlock = false;

        function CheckForData() {
            if (bInterlock) {
                return;
            } else {
                bInterlock = true;
            }
                    $.ajax({
                        async: true,
                        type: 'GET',
                        url: '@Url.Action("PloegRapportcheckNewData")',
                        dataType: 'json',
                        data: { dataTimestamp: Datatimestamp },

                        success: function (response) {
                            bInterlock = false;
                            //succes = reload needed
                            window.location.reload();
                        },

                        error: function (ex) {
                            bInterlock = false;
                            //error = no reload
                        }
            });

        }
    });
</script>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Location).Filterable(true);
    columns.Add(c => c.logtext);
    columns.Add(c => c.Response_min_).Titled("RT");
    columns.Add(c => c.Downtime_min_).Titled("DT");
    columns.Add(c => c.Count);
    columns.Add(c => c.time);
    columns.Add(c => c.Subgroup);
    columns.Add(c => c.Logtype).Filterable(true);

    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Info", "PloegRapportInfo", new { id = o.refId }));
}).WithPaging(20).Sortable(true)
</div>

<h5>Last data push: '@Html.Raw(ViewBag.DataTimestamp)'</h5>