@model IEnumerable<EqUiWebUi.Models.Breakdown>

@*set title*@
@{
    ViewBag.Title = "STO breakdown";
}

<div>
    <p></p>
    <p></p>
    <div>
        @Html.Grid(Model).Named("DataGrid").Build(columns =>
        {
            columns.Add(c => c.location).Titled("Location").Filterable(true);
            columns.Add(c => c.Logcode).Titled("Logcode");
            columns.Add(c => c.logtext).Titled("Logtext");
            columns.Add(c => c.Downtime).Titled("DT");
            columns.Add(c => c.timestamp).Titled("Time").Formatted("{0:HH:mm:ss}");
            columns.Add(c => c.Classification).Titled("Class");
            columns.Add(c => c.Subgroup).Titled("Subgroup");
            columns.Add(c => c.Logtype).Titled("Logtype").Filterable(true);
            columns.Add(c => c.LocationTree)
            .Titled("Info")
            .Encoded(false)
            .Filterable(true)
            .RenderedAs(o => Html.ActionLink("INFO", "_Moreinfo",
               new
               {
                   location = o.location,
                   errornum = o.Logcode,
                   refid = o.refId,
                   logtype = o.Logtype,
                   logtext = o.logtext
               },
                 new { @class = "modal-link" }
                 )
            );
        }).Sortable().Pageable(pager =>
            {
                pager.RowsPerPage = 20;
            }).Empty("No data found")
    </div>

    <div class="panel-footer">
        @MyFilters.LocationDropdown("/Gadata/StoWebgrid", "")
        <p style="float:right"> Last data push: '@Html.Raw(ViewBag.DataTimestamp)'</p>
    </div>
</div>


@*render popuover modal*@
<div>
    @MyModals.tableHelperModal("tableModal");
</div>

<script type="text/javascript">
    //need to just eleminiate this... can use the attributes of the modal
    var bModalOpen = false;
    //

    $(document).ready(function () {
        //set colors for grid
        tableFormatLogtype(8);
        //subscribe to modal click
        ListenToModal('#myModal');
        //enable polling for new data
        PolFordata(5, '@Html.Raw(ViewBag.DataTimestamp)', '@Url.Action("StocheckNewData")');
    });
</script>