
@{

    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Spatters and Spikes Page</h1>
</div>

<p></p>@{
    ViewBag.Title = "Spatters and Spikes Page";
}
<div class="jumbotron">


    <div class="card">
        <div class="card-header bg-dark">
            <h5 class="card-title text-white">
                insert new issue
                <span class="clickable float-right"><i class="far fa-edit"></i></span>
            </h5>
        </div>
        <div class="card-body">
            <p>
                @MyHtmlHelpers.EquiLink("/Welding/Spatter/Index", "far fa-file-alt", "Insert new issue", helperText: "inserting production issue spatters & spikes")

            <p>


        </div>
    </div>



    <div class="card">
        <div class="card-header bg-dark">
            <h5 class="card-title text-white">
                V316 Follow Up
                <span class="clickable float-right"><i class="far fa-edit"></i></span>
            </h5>
        </div>
        <div class="card-body">
            <p>
            @MyHtmlHelpers.EquiLink("/Welding/Spatter/_SpikesV316", "far fa-file-alt", "Spikes spots V316", helperText: "Follow up Spike sensitive spots")
            <p></p>
            @MyHtmlHelpers.EquiLink("/Welding/Spatter/Index", "far fa-file-alt", "Spatter spots V316", helperText: "Follow up Spatter sensitive spots")
            <p>


        </div>
    </div>

    <div class="card">
        <div class="card-header bg-dark">
            <h5 class="card-title text-white">
                Y555 Follow Up
                <span class="clickable float-right"><i class="far fa-edit"></i></span>
            </h5>
        </div>
        <div class="card-body">
            <p>
            @MyHtmlHelpers.EquiLink("/Welding/Spatter/Index", "far fa-file-alt", "Spikes spots Y555", helperText: "Follow up Spike sensitive spots")
            <p></p>
            @MyHtmlHelpers.EquiLink("/Welding/Spatter/Index", "far fa-file-alt", "Spatter spots Y555", helperText: "Follow up Spatter sensitive spots")
            <p>


        </div>
    </div>
    <p></p>









